<div class="resumes">
  <div class="resumes__main-text header-text header-text--first text-dark-title">
    Мои резюме
    <a class="js-nav-link resumes__main-text-btn" href="/resume/creation">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0707 2.92924C13.1657 -0.975762 6.83373 -0.975762 2.92973 2.92924C-0.975273 6.83424 -0.975273 13.1662 2.92973 17.0712C6.83473 20.9762 13.1667 20.9762 17.0717 17.0712C20.9767 13.1662 20.9767 6.83424 17.0717 2.92924H17.0707ZM5.75673 9.00024C5.49151 9.00024 5.23716 9.1056 5.04962 9.29313C4.86208 9.48067 4.75673 9.73502 4.75673 10.0002C4.75673 10.2655 4.86208 10.5198 5.04962 10.7073C5.23716 10.8949 5.49151 11.0002 5.75673 11.0002H8.99973V14.2432C8.99973 14.5085 9.10508 14.7628 9.29262 14.9503C9.48016 15.1379 9.73451 15.2432 9.99973 15.2432C10.2649 15.2432 10.5193 15.1379 10.7068 14.9503C10.8944 14.7628 10.9997 14.5085 10.9997 14.2432V11.0002H14.2427C14.5079 11.0002 14.7623 10.8949 14.9498 10.7073C15.1374 10.5198 15.2427 10.2655 15.2427 10.0002C15.2427 9.73502 15.1374 9.48067 14.9498 9.29313C14.7623 9.1056 14.5079 9.00024 14.2427 9.00024H10.9997V5.75724C10.9997 5.49202 10.8944 5.23767 10.7068 5.05013C10.5193 4.8626 10.2649 4.75724 9.99973 4.75724C9.73451 4.75724 9.48016 4.8626 9.29262 5.05013C9.10508 5.23767 8.99973 5.49202 8.99973 5.75724V9.00024H5.75673Z" fill="#0496FF"/>
      </svg>
    </a>
  </div>
  <div class="resumes__blocks">
    <div class="resumes__main-blocks">
      {{#unless data}} 
      <p style="margin: auto" class="header-text header-text--second text-dark-title">Вы пока не создали ни одного резюме</p>
      {{/unless}}
      {{#each data}}
      <div class="resume">
        <div class="resume__mobile-info">
          <div class="resume__job-type">
            <div class="resume__job-name header-text header-text--second text-dark-title">{{this.profession_name}}</div>
            {{!-- {{#iff this.status '==' 'searching'}}
              <div class="resume__status resume__status--avaliable">Доступно для просмотра</div>
              <div class="resume__status-mobile">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                  <path d="M12.1988 15.7233C11.9592 15.7233 11.7548 15.5409 11.7323 15.2977C11.6419 14.3184 12.0028 13.3552 12.7228 12.6553C13.4433 11.955 14.4169 11.6208 15.3933 11.7394C15.6502 11.7703 15.8334 12.0037 15.8025 12.2611C15.7716 12.5184 15.5377 12.7017 15.2808 12.6703C14.5852 12.5855 13.8928 12.8264 13.3763 13.328C12.8602 13.8295 12.6014 14.5162 12.6656 15.2119C12.6895 15.4697 12.4997 15.698 12.2423 15.7219C12.2278 15.7228 12.2133 15.7233 12.1988 15.7233Z" fill="#31B546"/>
                  <path d="M15.0084 20.1417C15.008 20.1417 15.008 20.1417 15.0084 20.1417C13.7419 20.1417 12.5311 19.6908 11.5992 18.8723C9.82641 17.3152 9.33844 14.6733 10.4386 12.5911C11.3203 10.9219 13.1212 9.84375 15.0267 9.84375C15.4425 9.84375 15.8573 9.89484 16.2586 9.99562C18.517 10.5623 20.1562 12.6656 20.1562 14.9967C20.1562 16.6655 19.343 18.2386 17.9798 19.2052C17.1159 19.8178 16.0884 20.1417 15.0084 20.1417ZM15.0267 10.7812C13.4644 10.7812 11.9887 11.6634 11.2673 13.0289C10.3673 14.7323 10.7667 16.8937 12.2175 18.1678C12.9787 18.8362 13.9692 19.2042 15.008 19.2042C15.8925 19.2042 16.7325 18.9403 17.4375 18.4406C18.5527 17.6494 19.2187 16.3622 19.2187 14.9967C19.2187 13.0894 17.8781 11.3681 16.0308 10.9045C15.7036 10.8225 15.3661 10.7812 15.0267 10.7812Z" fill="#31B546"/>
                  <path d="M2.81203 15.4655C2.73047 15.4655 2.64797 15.4444 2.57297 15.3994C2.35031 15.2672 2.27719 14.9794 2.40938 14.7572C4.74797 10.823 8.09766 8.12906 11.8416 7.1714C15.5634 6.2189 19.6111 7.05844 22.9467 9.47437C24.1688 10.3594 25.3013 11.498 26.4094 12.9558C26.5659 13.1616 26.5261 13.4559 26.3198 13.6125C26.1136 13.7695 25.8197 13.7287 25.6631 13.523C24.6113 12.1397 23.5434 11.0639 22.3969 10.2337C19.2872 7.98187 15.5241 7.19672 12.0741 8.07937C8.57203 8.97515 5.42578 11.5167 3.21516 15.2358C3.12797 15.3839 2.97188 15.4655 2.81203 15.4655Z" fill="#31B546"/>
                  <path d="M14.9503 23.212C13.9069 23.212 12.8639 23.0836 11.8416 22.822C8.09766 21.8644 4.74797 19.17 2.40938 15.2362C2.27719 15.0136 2.35031 14.7262 2.57297 14.5941C2.79516 14.4619 3.08297 14.5345 3.21516 14.7577C5.42578 18.4762 8.57203 21.0178 12.0741 21.9141C15.5573 22.8052 19.3102 22.0275 22.3716 19.7798C24.0516 18.5466 25.5366 16.8567 26.7844 14.7577C26.9166 14.535 27.2039 14.4623 27.427 14.5945C27.6497 14.7267 27.7223 15.0145 27.5902 15.2372C26.2777 17.4445 24.7088 19.2277 22.9266 20.5359C20.5327 22.2923 17.7408 23.212 14.9503 23.212Z" fill="#31B546"/>
                </svg>
              </div>
            {{else}}
              <div class="resume__status resume__status--hidden">Скрыто для просмотра</div>
              <div class="resume__status-mobile">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M20.125 16.625L18.3125 14.8125C18.5 13.8333 18.2188 12.9167 17.4688 12.0625C16.7188 11.2083 15.75 10.875 14.5625 11.0625L12.75 9.25C13.1042 9.08333 13.4635 8.95833 13.8281 8.875C14.1927 8.79167 14.5833 8.75 15 8.75C16.5625 8.75 17.8906 9.29688 18.9844 10.3906C20.0781 11.4844 20.625 12.8125 20.625 14.375C20.625 14.7917 20.5833 15.1823 20.5 15.5469C20.4167 15.9115 20.2917 16.2708 20.125 16.625ZM24.125 20.5625L22.3125 18.8125C23.1042 18.2083 23.8073 17.5469 24.4219 16.8281C25.0365 16.1094 25.5625 15.2917 26 14.375C24.9583 12.2708 23.4635 10.599 21.5156 9.35938C19.5677 8.11979 17.3958 7.5 15 7.5C14.3958 7.5 13.8021 7.54167 13.2187 7.625C12.6354 7.70833 12.0625 7.83333 11.5 8L9.5625 6.0625C10.4167 5.70833 11.2917 5.44271 12.1875 5.26563C13.0833 5.08854 14.0208 5 15 5C18.1458 5 20.9479 5.86979 23.4063 7.60938C25.8646 9.34896 27.6458 11.6042 28.75 14.375C28.2708 15.6042 27.6406 16.7448 26.8594 17.7969C26.0781 18.849 25.1667 19.7708 24.125 20.5625ZM24.75 28.25L19.5 23.0625C18.7708 23.2917 18.0365 23.4635 17.2969 23.5781C16.5573 23.6927 15.7917 23.75 15 23.75C11.8542 23.75 9.05208 22.8802 6.59375 21.1406C4.13542 19.401 2.35417 17.1458 1.25 14.375C1.6875 13.2708 2.23958 12.2448 2.90625 11.2969C3.57292 10.349 4.33333 9.5 5.1875 8.75L1.75 5.25L3.5 3.5L26.5 26.5L24.75 28.25ZM6.9375 10.5C6.33333 11.0417 5.78125 11.6354 5.28125 12.2813C4.78125 12.9271 4.35417 13.625 4 14.375C5.04167 16.4792 6.53646 18.151 8.48437 19.3906C10.4323 20.6302 12.6042 21.25 15 21.25C15.4167 21.25 15.8229 21.224 16.2188 21.1719C16.6146 21.1198 17.0208 21.0625 17.4375 21L16.3125 19.8125C16.0833 19.875 15.8646 19.9219 15.6563 19.9531C15.4479 19.9844 15.2292 20 15 20C13.4375 20 12.1094 19.4531 11.0156 18.3594C9.92188 17.2656 9.375 15.9375 9.375 14.375C9.375 14.1458 9.39062 13.9271 9.42187 13.7188C9.45312 13.5104 9.5 13.2917 9.5625 13.0625L6.9375 10.5Z" fill="#FFBC42"/>
                </svg>
              </div>
            {{/iff}} --}}
          </div>
          <div class="resume__name-age-info-mobile common-text common-text--regular text-dark-regular">
            {{this.first_name}} {{this.last_name}}, {{this.birthday}}
          </div>
        </div>
        {{!-- <div class="resume__statistic">
          <div class="resume__statistic-text header-text header-text--third text-dark-title">Статистика</div>
          <div class="resume__statistic-more">
            <div class="resume__statistic-more-text common-text common-text--regular text-dark-regular">0 просмотров</div>
            <div class="resume__statistic-line"></div>
            <div class="resume__statistic-more-text common-text common-text--regular text-dark-regular">0 ответов</div>
          </div>
        </div> --}}
        <div class="resume__btns">
          <a href="/resume/{{this.id}}"
            class="js-nav-link link-btn-blue--bg text-light-title common-text common-text--regular">
            Редактировать
          </a>
          {{!-- <div
            class="link-btn-blue text-dodger-blue common-text common-text--regular cursor-no-allowed">
            Скрыть
          </div> --}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="resume__form-create">
      <a href="/resume/creation"
        class="js-nav-link link-btn-blue--bg text-light-title common-text common-text--regular">
        Создать новое резюме
      </a>
    </div>
  </div>
</div>
