<div class="profile__settings">
  <div class="setting-inputes-block">
    <div class="changing-inpute ch-i__d-none" data-name="changing-change-full-name">
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Фамилия
        </div>
          <input class="changing-inpute__label" name="last-name" type="text" placeholder="Фамилия" value="{{ user.last_name }}">
      </div>
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Имя
        </div>
        <input class="changing-inpute__label" name="first_name" type="text" placeholder="Имя" value="{{ user.first_name }}">
      </div>
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Пароль
        </div>
        <input class="changing-inpute__label" name="password" type="password" placeholder="Введите пароль">
      </div>
      <div class="changing-inpute__btns">
        <div class="setting-inpute__button" data-name="cancel-changing">
          Отменить
        </div>
        <div class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary"
        data-name="send-form">
          Применить
        </div>
      </div>
    </div>
    <div class="setting-inpute" data-name="setting-change-full-name">
      <div class="setting-inpute__main-text">
        ФИО
      </div>
      <div class="settings-inpute__field">
        {{ user.last_name }} {{ user.first_name }}
      </div>
      <div class="setting-inpute__button" data-name="changing" type="change-full-name">
        Изменить
      </div>
    </div>
    <div class="changing-inpute ch-i__d-none" data-name="changing-change-mail">
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Новая почта
        </div>
        <input class="changing-inpute__label" name="email" type="text" placeholder="Почта" value="{{ user.email }}">
      </div>
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Пароль
        </div>
        <input class="changing-inpute__label" name="password" type="password" placeholder="Введите пароль">
      </div>
      <div class="changing-inpute__btns">
        <div class="setting-inpute__button" data-name="cancel-changing">
          Отменить
        </div>
        <div class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary"
        data-name="send-form">
          Применить
        </div>
      </div>
    </div>
    <div class="setting-inpute" data-name="setting-change-mail">
      <div class="setting-inpute__main-text">
        Почта
      </div>
      <div class="settings-inpute__field">
       {{ user.email }}
      </div>
      <div class="setting-inpute__button" data-name="changing" type="change-mail">
        Изменить
      </div>
    </div>
    <div class="changing-inpute ch-i__d-none" data-name="changing-change-password">
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Старый пароль
        </div>
          <input class="changing-inpute__label" name="password" type="password" placeholder="Пароль">
      </div>
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Новый пароль
        </div>
        <input class="changing-inpute__label" name="new_password" type="password" placeholder="Пароль">
      </div>
      <div class="changing-inpute__field">
        <div class="changing-inpute__value">
          Повторите пароль
        </div>
        <input class="changing-inpute__label" name="repeat_password" type="password" placeholder="Повторите пароль">
      </div>
      <div class="changing-inpute__btns">
        <div class="setting-inpute__button" data-name="cancel-changing">
          Отменить
        </div>
        <div class="link-btn primary-btn link-btn-bd-rad-10 primary-btn_blue-primary resume__btns-text resume__btns-text--primary"
        data-name="send-form">
          Применить
        </div>
      </div>
    </div>
    <div class="setting-inpute" data-name="setting-change-password">
      <div class="setting-inpute__main-text">
        Пароль
      </div>
      <div class="settings-inpute__field">
        ***************************
      </div>
      <div class="setting-inpute__button" data-name="changing" type="change-password">
        Изменить
      </div>
    </div>
  </div>
  <div class="setting__btn">
    <div class="setting__delete-btn" data-name="delete-account" style="cursor:not-allowed;">
      Удалить аккаунт
    </div>
  </div>
</div>
