<label class="input_radio {{class_label}}">
  <input class="input_radio__input {{class_input}}" type="radio" name="{{name}}" {{#if checked}}checked{{/if}}>
  <div class="input_radio__div"></div>
  <div class="{{class_text}}">{{text}}</div>
</label>
