<label class="input_radio {{class.block}} {{#if error}} input_error {{/if}}">
  <input class="input_radio__input {{class.input}}" type="radio" name="{{name}}" {{#if checked}}checked{{/if}}>
  <div class="input_radio__div {{class.btn}}"></div>
  <div class="{{class.text}}">{{text}}</div>
</label>
