
<label class="input {{#if error}} input_error {{/if}}" for="{{obj.name}}">
  <p class="input__title {{class_title}}">{{obj.title}}</p>
  <input class="{{class}} input__field" autocomplete="off" type="{{#if obj.type}}{{obj.type}}{{else}}text{{/if}}" name="{{obj.name}}" id="{{ obj.name }}" placeholder="{{ obj.placeholder }}" value="{{value}}" {{{attributes}}}>
  <div class="input__error-msg d-none"></div>
</label>
