<label class="input" for="{{obj.name}}">
  <input class="{{class}} input__field" autocomplete="off" type="{{ obj.type }}" name="{{obj.name}}" id="{{ obj.name }}" placeholder="{{ obj.placeholder }}">
  <div class="input__error-msg d-none"></div>
</label>
