<{{#if href}}a href="{{href}}" {{else}}button{{/if}} class="link-btn {{class}}" {{#each data}} data-{{key}}="{{value}}"
  {{/each}}>
  <span class="link-btn__text {{class_text}}">{{text}}</span>
  {{{svg}}}
</{{#if href}}a{{else}}button{{/if}}>
