<div class="profile">
    <div class="d-flex profile__header profile__header--background--default-hh">
        <img class="profile_image" src="../../../public/images/img/buttersss.jpg" alt="profile-logo">
        <div class="profile__info">
            <div class="profile__main-info">
                <div class="profile__about">
                    <div class="profile__main-text">Иванов Иван Иванович</div>
                    <div class="profile__primary-text">Краткая информация</div>
                </div>
                <div class="profile__switch-btns">
                    <div class="profile__btn {{#iff state 'settings'}}profile__btn--active{{else}}profile__btn--hover{{/iff}}" data-name="settings">
                        <div class="profile__btn-text">Настройки</div>
                        <div class="profile__line"></div>
                    </div>
                    <div class="profile__btn {{#iff state 'responses'}}profile__btn--active{{else}}profile__btn--hover{{/iff}}" data-name="responses">
                        <div class="profile__btn-text">Отклики</div>
                        <div class="profile__line"></div>
                    </div>
                    <div class="profile__btn {{#iff state 'resumes'}}profile__btn--active{{else}}profile__btn--hover{{/iff}}" data-name="resumes">
                        <div class="profile__btn-text">Резюме</div>
                        <div class="profile__line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{#iff state 'settings'}}
    {{> profile_app_settings}}
    {{else iff state 'responses'}}
    {{> profile_app_responses}}
    {{else iff state 'resumes'}}
    {{> profile_app_resumes}}
    {{else}}
    {{> profile_app_settings}}
    {{/iff}}
</div>
