<div class="mobile-wrapper">
    <div class="mobile__profile">
        <div class="profile">
            <div class="profile__header profile__header--background--default-hh">
                <img class="profile_image" src="../../../public/images/img/buttersss.jpg" alt="profile-logo">
                <div class="profile__info">
                    <div class="profile__main-info">
                        <div class="profile__about">
                            <div class="header-text header-text--first text-light-title profile__about-mobile-main-text">{{ user.last_name }} {{ user.first_name }} {{ user.third_name }}</div>
                            <div class="secondary-text text-light-regular profile__about-mobile-add-text">{{ user.email }}</div>
                        </div>
                        {{#iff user.role '==' 'applicant'}}
                        <div class="profile__switch-btns">
                            <div class="profile__btn {{#iff state '==' 'settings'}}profile__btn--active text-dodger-blue{{else}}text-light-title{{/iff}}" data-name="settings">
                                <div class="common-text common-text--bold">Настройки</div>
                            </div>
                            <div class="profile__btn {{#iff state '==' 'responses'}}profile__btn--active text-dodger-blue{{else}}text-light-title{{/iff}}" data-name="responses">
                                <div class="common-text common-text--bold">Отклики</div>
                            </div>
                            <div class="profile__btn {{#iff state '==' 'resumes'}}profile__btn--active text-dodger-blue{{else}}text-light-title{{/iff}}" data-name="resumes">
                                <div class="common-text common-text--bold">Резюме</div>
                            </div>
                        </div>
                        {{else iff user.role '==' 'employer'}}
                        <div class="profile__switch-btns">
                            <div class="profile__btn {{#iff state '==' 'settings'}}profile__btn--active text-dodger-blue{{else}}text-light-title{{/iff}}" data-name="settings">
                                <div class="common-text common-text--bold">Настройки</div>
                            </div>
                            <div class="profile__btn {{#iff state '==' 'vacancies'}}profile__btn--active text-dodger-blue{{else}}text-light-title{{/iff}}" data-name="vacancies">
                                <div class="common-text common-text--bold">Вакансии</div>
                            </div>
                        </div>
                        {{/iff}}
                    </div>
                </div>
                <div class="profile__filled-container">
                    <div class="profile__role-big-frame">
                        <div class="profile__roles-frame">
                            <div class="tooltip">
                                {{#iff user.role '==' 'applicant'}}
                                <img src="../../../public/images/img/profile_28-01.png" class="profile__role-img">
                                {{else iff user.role '==' 'employer'}}
                                <img src="../../../public/images/img/briefcase_outline_28-01.png" class="profile__role-img">
                                {{/iff}}
                                <span class="tooltip-text-down tooltip-text-down__profile common-text common-text-medium text-dark-title">{{#iff user.role '==' 'applicant'}}Соискатель{{else iff user.role '==' 'employer'}}Работодатель{{/iff}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {{#iff state '==' 'settings'}}
            {{> profile_settings}}
            {{else iff state '==' 'responses'}}
            {{> profile_responses}}
            {{else iff state '==' 'resumes'}}
            {{> profile_resumes (object data=data)}}
            {{else iff state '==' 'vacancies'}}
            {{> profile_vacs }}
            {{else}}
            {{> profile_settings}}
            {{/iff}}

            <div class="profile__mobile-navigation">
                <a href="/profile/settings" class="js-nav-link profile__mobile-navigation-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <path d="M37.9526 15.8011L35.145 15.3248C34.8525 14.3806 34.4765 13.4698 34.0169 12.6008L35.6714 10.2862C36.3733 9.30019 36.2647 7.95488 35.404 7.10257L32.9139 4.61249C32.446 4.14456 31.8277 3.88552 31.1676 3.88552C30.6495 3.88552 30.1565 4.04429 29.7387 4.3451L27.4158 5.99958C26.5133 5.52329 25.5691 5.13056 24.5915 4.8381L24.1235 2.06392C23.923 0.86902 22.8952 0 21.6836 0H18.1658C16.9541 0 15.9264 0.86902 15.7258 2.06392L15.2412 4.90495C14.3053 5.19741 13.3945 5.58178 12.5255 6.04972L10.2276 4.39524C9.80984 4.09442 9.30849 3.93566 8.79042 3.93566C8.1303 3.93566 7.50361 4.19469 7.04404 4.66263L4.54562 7.15271C3.69331 8.00501 3.57633 9.35032 4.27823 10.3363L5.94941 12.6844C5.48984 13.5617 5.12218 14.4725 4.83807 15.4168L2.06391 15.8847C0.869015 16.0852 0 17.113 0 18.3246V21.8425C0 23.0541 0.869015 24.0819 2.06391 24.2824L4.90492 24.7671C5.19738 25.7029 5.58175 26.6137 6.04968 27.4828L4.40357 29.7723C3.70167 30.7583 3.8103 32.1036 4.67096 32.9559L7.16102 35.446C7.62895 35.9139 8.24729 36.173 8.9074 36.173C9.42547 36.173 9.91847 36.0142 10.3363 35.7134L12.6843 34.0422C13.5282 34.4851 14.414 34.8444 15.3247 35.1285L15.7927 37.9361C15.9932 39.131 17.021 40 18.2326 40H21.7588C22.9704 40 23.9982 39.131 24.1987 37.9361L24.675 35.1285C25.6192 34.836 26.53 34.46 27.399 34.0004L29.7136 35.6549C30.1314 35.9557 30.6328 36.1145 31.1508 36.1145C31.811 36.1145 32.4293 35.8554 32.8972 35.3875L35.3873 32.8974C36.2396 32.0451 36.3566 30.6998 35.6547 29.7138L34.0002 27.3909C34.4598 26.5135 34.8442 25.6027 35.1283 24.6668L37.9358 24.1989C39.1307 23.9983 39.9998 22.9705 39.9998 21.7589V18.2411C40.0165 17.0295 39.1475 16.0017 37.9526 15.8011ZM37.7604 21.7589C37.7604 21.8676 37.6852 21.9595 37.5765 21.9762L34.0671 22.5611C33.6242 22.6363 33.2732 22.9622 33.1646 23.3883C32.8471 24.6167 32.3625 25.7949 31.7107 26.8895C31.4851 27.2739 31.5018 27.7502 31.7608 28.1178L33.8247 31.0257C33.8832 31.1093 33.8749 31.2346 33.7997 31.3098L31.3096 33.7999C31.2511 33.8584 31.1926 33.8667 31.1508 33.8667C31.1007 33.8667 31.0589 33.85 31.0255 33.8249L28.126 31.761C27.7667 31.502 27.2821 31.4853 26.8977 31.7109C25.8031 32.3627 24.6249 32.8473 23.3966 33.1648C22.9621 33.2735 22.6362 33.6328 22.5693 34.0673L21.9761 37.5768C21.9593 37.6854 21.8674 37.7606 21.7588 37.7606H18.241C18.1323 37.7606 18.0404 37.6854 18.0237 37.5768L17.4388 34.0673C17.3636 33.6244 17.0377 33.2735 16.6116 33.1648C15.4167 32.8557 14.2635 32.3794 13.1856 31.761C13.0102 31.6608 12.8096 31.6106 12.6174 31.6106C12.3918 31.6106 12.1579 31.6775 11.9657 31.8195L9.0411 33.9001C8.99932 33.9252 8.95754 33.9419 8.91576 33.9419C8.88234 33.9419 8.81549 33.9336 8.757 33.8751L6.26694 31.385C6.19173 31.3098 6.18338 31.1928 6.24187 31.1009L8.29742 28.2181C8.55646 27.8504 8.57317 27.3658 8.34756 26.9814C7.6958 25.8951 7.19444 24.7169 6.87692 23.4886C6.75993 23.0625 6.40899 22.7366 5.97448 22.6614L2.43993 22.0597C2.3313 22.043 2.2561 21.9511 2.2561 21.8425V18.3246C2.2561 18.216 2.3313 18.1241 2.43993 18.1074L5.92434 17.5225C6.36721 17.4473 6.72651 17.1214 6.83514 16.6869C7.14431 15.4585 7.62059 14.272 8.264 13.1774C8.48961 12.793 8.46454 12.3167 8.20551 11.9574L6.12489 9.0328C6.06639 8.94924 6.07475 8.8239 6.14995 8.74869L8.64002 6.25862C8.69851 6.20013 8.757 6.19177 8.79878 6.19177C8.84891 6.19177 8.89069 6.20848 8.92412 6.23355L11.8069 8.28912C12.1746 8.54815 12.6592 8.56486 13.0436 8.33925C14.1299 7.68749 15.308 7.18613 16.5364 6.8686C16.9625 6.75162 17.2884 6.40067 17.3636 5.96616L17.9652 2.43159C17.9819 2.32296 18.0738 2.24775 18.1825 2.24775H21.7003C21.8089 2.24775 21.9008 2.32296 21.9176 2.43159L22.5025 5.91602C22.5777 6.35889 22.9036 6.7182 23.3381 6.82682C24.5998 7.14435 25.8031 7.63735 26.9228 8.29747C27.3071 8.52308 27.7834 8.50637 28.1511 8.24734L31.0339 6.17506C31.0756 6.14999 31.1174 6.13328 31.1592 6.13328C31.1926 6.13328 31.2595 6.14163 31.318 6.20013L33.808 8.6902C33.8832 8.76541 33.8916 8.88239 33.8331 8.97431L31.7692 11.8738C31.5102 12.2331 31.4934 12.7178 31.7191 13.1022C32.3708 14.1968 32.8555 15.375 33.173 16.6033C33.2816 17.0378 33.6409 17.3637 34.0754 17.4305L37.5849 18.0238C37.6935 18.0405 37.7687 18.1324 37.7687 18.2411V21.7589H37.7604Z" fill={{#iff state '==' 'settings'}}"#0496FF"{{else}}"#333333"{{/iff}}/>
                        <path d="M20.0037 11.3628C15.2409 11.3628 11.3721 15.2316 11.3721 19.9945C11.3721 24.7574 15.2409 28.6262 20.0037 28.6262C24.7666 28.6262 28.6354 24.7574 28.6354 19.9945C28.6354 15.2316 24.7666 11.3628 20.0037 11.3628ZM20.0037 26.3701C16.4859 26.3701 13.6282 23.5124 13.6282 19.9945C13.6282 16.4766 16.4859 13.6189 20.0037 13.6189C23.5216 13.6189 26.3793 16.4766 26.3793 19.9945C26.3793 23.5124 23.5216 26.3701 20.0037 26.3701Z" fill={{#iff state '==' 'settings'}}"#0496FF"{{else}}"#333333"{{/iff}}/>
                    </svg>
                    <div class="common-text common-text--medium {{#iff state '==' 'settings'}}text-dodger-blue{{else}}text-dark-title{{/iff}}">
                        Настройки
                    </div>
                </a>
                {{#iff user.role '==' 'applicant'}}
                    <a href="/profile/responses" class="js-nav-link profile__mobile-navigation-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                            <path d="M20.5 34.9998L18.0833 32.8332C15.2778 30.3054 12.9583 28.1248 11.125 26.2915C9.29166 24.4582 7.83333 22.8123 6.75 21.354C5.66666 19.8957 4.90972 18.5554 4.47916 17.3332C4.04861 16.1109 3.83333 14.8609 3.83333 13.5832C3.83333 10.9721 4.70833 8.7915 6.45833 7.0415C8.20833 5.2915 10.3889 4.4165 13 4.4165C14.4444 4.4165 15.8194 4.72206 17.125 5.33317C18.4306 5.94428 19.5556 6.80539 20.5 7.9165C21.4444 6.80539 22.5694 5.94428 23.875 5.33317C25.1806 4.72206 26.5556 4.4165 28 4.4165C30.6111 4.4165 32.7917 5.2915 34.5417 7.0415C36.2917 8.7915 37.1667 10.9721 37.1667 13.5832C37.1667 14.8609 36.9514 16.1109 36.5208 17.3332C36.0903 18.5554 35.3333 19.8957 34.25 21.354C33.1667 22.8123 31.7083 24.4582 29.875 26.2915C28.0417 28.1248 25.7222 30.3054 22.9167 32.8332L20.5 34.9998ZM20.5 30.4998C23.1667 28.1109 25.3611 26.0623 27.0833 24.354C28.8056 22.6457 30.1667 21.1596 31.1667 19.8957C32.1667 18.6318 32.8611 17.5068 33.25 16.5207C33.6389 15.5346 33.8333 14.5554 33.8333 13.5832C33.8333 11.9165 33.2778 10.5276 32.1667 9.4165C31.0556 8.30539 29.6667 7.74984 28 7.74984C26.6944 7.74984 25.4861 8.11789 24.375 8.854C23.2639 9.59012 22.5 10.5276 22.0833 11.6665H18.9167C18.5 10.5276 17.7361 9.59012 16.625 8.854C15.5139 8.11789 14.3056 7.74984 13 7.74984C11.3333 7.74984 9.94444 8.30539 8.83333 9.4165C7.72222 10.5276 7.16666 11.9165 7.16666 13.5832C7.16666 14.5554 7.36111 15.5346 7.75 16.5207C8.13888 17.5068 8.83333 18.6318 9.83333 19.8957C10.8333 21.1596 12.1944 22.6457 13.9167 24.354C15.6389 26.0623 17.8333 28.1109 20.5 30.4998Z" fill={{#iff state '==' 'responses'}}"#0496FF"{{else}}"#333333"{{/iff}}/>
                        </svg>
                        <div class="common-text common-text--medium {{#iff state '==' 'responses'}}text-dodger-blue{{else}}text-dark-title{{/iff}}">
                            Отклики
                        </div>
                    </a>
                    <a href="/profile/resumes" class="js-nav-link profile__mobile-navigation-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                            <path d="M7.16666 35.0002C6.25 35.0002 5.46527 34.6738 4.8125 34.021C4.15972 33.3682 3.83333 32.5835 3.83333 31.6668V13.3335C3.83333 12.4168 4.15972 11.6321 4.8125 10.9793C5.46527 10.3266 6.25 10.0002 7.16666 10.0002H13.8333V6.66683C13.8333 5.75016 14.1597 4.96544 14.8125 4.31266C15.4653 3.65988 16.25 3.3335 17.1667 3.3335H23.8333C24.75 3.3335 25.5347 3.65988 26.1875 4.31266C26.8403 4.96544 27.1667 5.75016 27.1667 6.66683V10.0002H33.8333C34.75 10.0002 35.5347 10.3266 36.1875 10.9793C36.8403 11.6321 37.1667 12.4168 37.1667 13.3335V31.6668C37.1667 32.5835 36.8403 33.3682 36.1875 34.021C35.5347 34.6738 34.75 35.0002 33.8333 35.0002H7.16666ZM7.16666 31.6668H33.8333V13.3335H7.16666V31.6668ZM17.1667 10.0002H23.8333V6.66683H17.1667V10.0002Z" fill={{#iff state '==' 'resumes'}}"#0496FF"{{else}}"#333333"{{/iff}}/>
                        </svg>
                        <div class="common-text common-text--medium {{#iff state '==' 'resumes'}}text-dodger-blue{{else}}text-dark-title{{/iff}}">
                            Мои Резюме
                        </div>
                    </a>
                {{else}}
                    <a href="/profile/vacancies" class="js-nav-link profile__mobile-navigation-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                            <path d="M7.16666 35.0002C6.25 35.0002 5.46527 34.6738 4.8125 34.021C4.15972 33.3682 3.83333 32.5835 3.83333 31.6668V13.3335C3.83333 12.4168 4.15972 11.6321 4.8125 10.9793C5.46527 10.3266 6.25 10.0002 7.16666 10.0002H13.8333V6.66683C13.8333 5.75016 14.1597 4.96544 14.8125 4.31266C15.4653 3.65988 16.25 3.3335 17.1667 3.3335H23.8333C24.75 3.3335 25.5347 3.65988 26.1875 4.31266C26.8403 4.96544 27.1667 5.75016 27.1667 6.66683V10.0002H33.8333C34.75 10.0002 35.5347 10.3266 36.1875 10.9793C36.8403 11.6321 37.1667 12.4168 37.1667 13.3335V31.6668C37.1667 32.5835 36.8403 33.3682 36.1875 34.021C35.5347 34.6738 34.75 35.0002 33.8333 35.0002H7.16666ZM7.16666 31.6668H33.8333V13.3335H7.16666V31.6668ZM17.1667 10.0002H23.8333V6.66683H17.1667V10.0002Z" fill={{#iff state '==' 'vacancies'}}"#0496FF"{{else}}"#333333"{{/iff}}/>
                        </svg>
                        <div class="common-text common-text--medium {{#iff state '==' 'vacancies'}}text-dodger-blue{{else}}text-dark-title{{/iff}}">
                            Мои Вакансии
                        </div>
                    </a>
                {{/iff}}
            </div>
        </div>
    </div>
</div>