<form class="js-edit-form" data-page={{page}}>
    {{#iff page '==' 0}}
    {{> resume/res_form_0 }}
    {{else iff page '==' 1}}
    {{> resume/res_form_1 }}
    {{else iff page '==' 2}}
    {{> resume/res_form_2 }}
    {{else iff page '==' 3}}
    {{> resume/res_form_3 }}
    {{/iff}}
    <div class="form__actions">
        {{> components/link-btn
        text="Отменить"
        data=(object page=page)
        class="js-cancel-edit link-btn text-dodger-blue link-btn-blue common-text common-text--medium"}}
        <button type="submit" class="js-save-edit text-light-title link-btn-blue--bg common-text common-text--medium"
            data-page={{page}}>Сохранить</button>
    </div>
</form>
