<form class="rescr__form">
  <p class="rescr__form__title form__title text header-text header-text--first text-dark-title">
    Создание резюме
  </p>

  <p class="rescr__form__step__title header-text header-text--second">
    {{{lookup steps page}}} <span class="rescr__form__step__title--mobile">(шаг {{sum (array page 1)}}/{{steps.length}})</span>
  </p>

  {{#if form_error}}
  <div class="form__error">{{form_error}}</div>
  {{/if}}

  {{log (concat 'resume/res_form_' page)}}
  {{#iff page '==' '0'}}
    {{> resume/res_form_0}}
  {{else iff page '==' '1'}}
    {{> resume/res_form_1 (object errors=errors data=data page_data=page_data) }}
  {{else iff page '==' '2'}}
    {{> resume/res_form_2 (object errors=errors data=data page_data=page_data) }}
  {{else iff page '==' '3'}}
    {{> resume/res_form_3 (object errors=errors data=data page_data=page_data) }}
  {{/iff}}
  

  <div class="form__actions rescr__form__actions_{{page}}">
    {{#iff page '>' 0}}
    {{> components/link-btn (object text="Назад"
    class="js-rescr-back link-btn_transp-box-blue link-btn_pd-med link-btn_bd-rad-sm")}}
    {{/iff}}
    <button type="submit"
      class="{{#iff page '==' (sub steps.length 1)}} js-rescr-submit {{else}} js-rescr-save-continue {{/iff}} link-btn-blue--bg common-text common-text--medium text-light-title">
      <span class="link-btn__text ">
        {{#iff page '==' (sub steps.length 1)}}
        Создать резюме
        {{else}}
        Сохранить и продолжить
        {{/iff}}
      </span>
    </button>
  </div>
</form>
