<aside class="vacs__filters">
    <div class="vacs__desc header-text header-text--first text-dark-title fw-bold">
        Найдено <span>{{#if cvs}}{{ cvs.count }}{{else}}0{{/if}}</span> резюме
    </div>
    <div class="vacs__button-open-filters">
        <button class="text-light-title link-btn-blue--bg common-text common-text--medium" name="resumes_filters">Фильтры</button>
    </div>
    <!-- Input field -->
    {{!-- <div class="vacs__search vacs__filter">
        <div class="vacs__search__name vacs__filter__name">
            Профессия, должность или компания
        </div>
        {{> input (object obj=(object placeholder="Ключевые слова")
        class="vacs__search__input common-text common-text--medium")}}
        {{> link-btn (object text="Применить"
        class="common-text common-text--medium link-btn-blue--bg text-light-title")}}
    </div> --}}
    <!-- Checkbox buttons -->
    <div class="vacs__filters-frame vacs__filters-frame-mobile-hidden">
        {{#each filters}}
        <div class="vacs__filter">
        <div class="vacs__filter__name">
            {{ruFilters this.name}}
        </div>
        <ul class="vacs__filter__list">
            {{#each (sortByCityCount this.values this.name 5)}}
            <li class="vacs__filter__list__item">
                {{#iff ../this.type '==' 'radio'}}
                {{> input_radio (object text=(ruFilters this.value) name="category"
                class_label="vacs__filter__list__item__label") }}
                {{else iff ../this.type '==' 'double_range'}}

                {{else}}
                <label class="vacs__filter__list__item__label">
                    {{> input_checkbox }}
                    <span>{{#iff ../this.name '==' 'city'}}{{this.value}}{{else}}{{ ruFilters this.value}}{{/iff}}</span>
                </label>
                {{/iff}}
                {{#iff ../this.type '==' 'double_range'}}
                {{else}}
                    <div class="cursive-text text-form-active">
                    {{this.count}}
                    </div>
                {{/iff}}
            </li>
            {{/each}}
        </ul>
            {{#iff this.type '==' 'checkbox_search'}}
            <div class="filters__for_search">
                {{#each (array
                (object name=this.name placeholder=(ruFilters this.name))
                )}}

                {{> input (object obj=this
                class=(object
                title="res__form__input__title"
                input="res__form__input forms-placeholder"
                block="res__form__field"
                )
                name=this.name)}}
                {{/each}}
            <button class="text-light-title link-btn-blue--bg common-text common-text--medium">Применить</button>
            </div>
            {{/iff}}
        </div>
        {{/each}}
    </div>
</aside>
