{{#each responses}}
<div class="responses" style="width: 100%; margin-top: 20px">
    <div class="responses__blocks">
        <div class="response-block response-block--not-views">
            <div class="response-block__main-info" style="gap: 25px;">
                <img class="response-block__img" src="/images/img/error_circle_32-01.png">
                <div class="response__employer">
                    <div class="header-text header-text--third" name="FNO-work">
                    {{this.last_name}} {{this.first_name}} {{this.middle_name}} - {{this.profession_name}}
                    </div>
                    <a href="/resume/{{this.id}}" class="js-nav-link link-btn link-btn_blue-without-bd  common-text common-text--medium">
                        Просмотреть резюме
                    </a>
                </div>
            </div>
            <div class="response__data common-text common-text--regular text-dark-regular">
            10.10.2023
            </div>
        </div>
    </div>
</div>
{{/each}}
