<div class="vacancie {{#if data}}d-none{{/if}}">
    <div class="header-text header-text--first text-dark-title">
        {{vacancy.name}}
    </div>
    <div class="vacancie__additional-info">
        <div class="add-info add-info-vacancy-salary">
            <img class="add-info__img" src="/images/svg/rouble_outline_20.svg">
            <div class="tooltip">
                <div class="vacancy-add-info-text common-text common-text--medium text-dark-regular" name="vacancy-salary">
                    {{vacancy.salary_view}}
                </div>
                <span class="tooltip-text-down tooltip-text-down__vacancy">Зарплата: {{vacancy.salary_view}}</span>
            </div>
        </div>
        <div class="add-info add-info-vacancy">
            <img class="add-info__img" src="/images/svg/stars_20.svg">
            <div class="tooltip">
                <div class="vacancy-add-info-text common-text common-text--medium text-dark-regular" name="vacancy-experience">
                    {{vacancy.experience_view}}
                </div>
                <span class="tooltip-text-down tooltip-text-down__vacancy">Требуемый опыт:
                    {{vacancy.experience_view}}</span>
            </div>
        </div>
        <div class="add-info add-info-vacancy">
            <img class="add-info__img" src="/images/svg/clock_outline_20.svg">
            <div class="tooltip">
                <div class="vacancy-add-info-text common-text common-text--medium text-dark-regular" name="vacancy-employment">
                    {{vacancy.employment_view}}
                </div>
                <span class="tooltip-text-down tooltip-text-down__vacancy">Занятость:
                    {{vacancy.employment_view}}</span>
            </div>
        </div>
        <div class="add-info add-info-vacancy">
            <img class="add-info__img" src="/images/svg/location_map_outline_20.svg">
            <div class="tooltip">
                <div class="vacancy-add-info-text common-text common-text--medium text-dark-regular" name="vacancy-location">
                    {{vacancy.location}}
                </div>
                <span class="tooltip-text-down tooltip-text-down__vacancy">Расположение:
                    {{vacancy.location}}</span>
            </div>
        </div>
        {{!-- <div class="add-info add-info-vacancy">
            <img class="add-info__img" src="/images/svg/calendar_check_outline_20.svg">
            <div class="common-text common-text--medium text-dark-regular">2 дня</div>
        </div> --}}
    </div>
        {{#iff user.role '==' 'employer'}}
        {{#iff user.employer_id '==' vacancy.employer_id}}
            <div class="vacancie__btns">
                <div class="text-dodger-blue setting-inpute__button common-text common-text--medium"
                data-name="refactoring">
                    <div class="vacancie__btns_desktop">
                        Редактировать
                    </div>
                    <div class="vacancie__btns_mobile">
                        <svg class="setting-input__mobile-btn" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M3.88888 17.5C3.51388 17.5 3.18865 17.3623 2.91319 17.0868C2.63773 16.8114 2.5 16.4861 2.5 16.1111V3.88888C2.5 3.51388 2.63773 3.18865 2.91319 2.91319C3.18865 2.63773 3.51388 2.5 3.88888 2.5H11.9931L10.6042 3.88888H3.88888V16.1111H16.1111V9.34721L17.5 7.95831V16.1111C17.5 16.4861 17.3623 16.8114 17.0868 17.0868C16.8114 17.3623 16.4861 17.5 16.1111 17.5H3.88888ZM7.5 12.5V8.95833L15.3542 1.10417C15.4931 0.965279 15.6481 0.863425 15.8194 0.798606C15.9907 0.7338 16.162 0.701397 16.3333 0.701397C16.5093 0.701397 16.6832 0.736119 16.8551 0.805564C17.027 0.874994 17.1841 0.979154 17.3264 1.11804L18.8681 2.68056C18.9987 2.81906 19.0996 2.97199 19.1709 3.13933C19.2421 3.30668 19.2778 3.47692 19.2778 3.65004C19.2778 3.82317 19.2442 3.99654 19.1771 4.17015C19.11 4.34374 19.007 4.49999 18.8681 4.63888L11.0417 12.5H7.5ZM8.88888 11.1111H10.4583L15.5834 5.98611L14.7917 5.20833L13.9931 4.43054L8.88888 9.52083V11.1111Z" fill="#0496FF"/>
                        </svg>
                    </div>
                </div>
                <div class="link-btn link-btn_blue-without-bd  common-text common-text--medium {{#iff state '==' 'responses'}}d-none{{/iff}}" data-name="responses">
                    Смотреть отклики
                </div>
                <div class="link-btn link-btn_blue-without-bd common-text common-text--medium {{#iff state '==' 'description'}}d-none{{/iff}}" data-name="description">
                    Смотреть описание
                </div>
                <div class="setting__delete-btn" data-name="delete-vacancy">
                    <div class="common-text common-text--medium">
                        Удалить вакансию
                    </div>
                </div>
            </div>
        {{/iff}}
        {{else}}
            <div class="vacancie__btns">
                <a href="/vacancy/{{vacancy.id}}/response" class="js-nav-link text-light-title link-btn-blue--bg common-text common-text--medium">
                    Откликнуться
                </a>
                <div class="vacs__list__item__feed__fav" id="{{vacancy.id}}">
                    {{#if vacancy.favourite}}
                        {{> components/link-btn (object
                        class="js-remove-fav-vac vacs__list__item__feed__fav__btn br-10 link-svg_blue--bg d-block"
                        svg='<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
                            <path 
                                d="M10 18L6.825 15.15C5.625 14.0667 4.59583 13.1 3.7375 12.25C2.87917 11.4 2.17083 10.6 1.6125 9.85C1.05417 9.1 0.645833 8.375 0.3875 7.675C0.129167 6.975 0 6.24167 0 5.475C0 3.90833 0.525 2.60417 1.575 1.5625C2.625 0.520833 3.93333 0 5.5 0C6.36667 0 7.19167 0.183333 7.975 0.55C8.75833 0.916667 9.43333 1.43333 10 2.1C10.5667 1.43333 11.2417 0.916667 12.025 0.55C12.8083 0.183333 13.6333 0 14.5 0C15.9 0 17.175 0.491667 18.325 1.475C19.475 2.45833 20.05 3.79167 20.05 5.475C20.05 5.70833 20.0333 5.95417 20 6.2125C19.9667 6.47083 19.9167 6.73333 19.85 7H17.725C17.8083 6.7 17.875 6.41667 17.925 6.15C17.975 5.88333 18 5.63333 18 5.4C18 4.15 17.5833 3.27083 16.75 2.7625C15.9167 2.25417 15.1667 2 14.5 2C13.65 2 12.9167 2.22917 12.3 2.6875C11.6833 3.14583 11.1083 3.75 10.575 4.5H9.425C8.90833 3.75 8.32083 3.14583 7.6625 2.6875C7.00417 2.22917 6.28333 2 5.5 2C4.55 2 3.72917 2.32917 3.0375 2.9875C2.34583 3.64583 2 4.475 2 5.475C2 6.025 2.11667 6.58333 2.35 7.15C2.58333 7.71667 3 8.37083 3.6 9.1125C4.2 9.85417 5.01667 10.7208 6.05 11.7125C7.08333 12.7042 8.4 13.9 10 15.3C10.4333 14.9167 10.9417 14.475 11.525 13.975C12.1083 13.475 12.575 13.0583 12.925 12.725L14.35 14.15C13.9833 14.4833 13.5167 14.8958 12.95 15.3875C12.3833 15.8792 11.8833 16.3167 11.45 16.7L10 18ZM14 11V9H22V11H14Z" 
                                fill="#0496FF"/>
                        </svg>
                        ')}}
                    {{else}}
                        {{> components/link-btn (object
                        class="js-add-fav-vac vacs__list__item__feed__fav__btn br-10 link-svg_blue--bg d-block"
                        svg='<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 18L6.825 15.15C5.625 14.0667 4.59583 13.1 3.7375 12.25C2.87917 11.4 2.17083 10.6 1.6125 9.85C1.05417 9.1 0.645833 8.375 0.3875 7.675C0.129167 6.975 0 6.24167 0 5.475C0 3.90833 0.525 2.60417 1.575 1.5625C2.625 0.520833 3.93333 0 5.5 0C6.36667 0 7.19167 0.183333 7.975 0.55C8.75833 0.916667 9.43333 1.43333 10 2.1C10.5667 1.43333 11.2417 0.916667 12.025 0.55C12.8083 0.183333 13.6333 0 14.5 0C15.85 0 16.9833 0.379167 17.9 1.1375C18.8167 1.89583 19.4417 2.85 19.775 4H17.65C17.35 3.33333 16.9083 2.83333 16.325 2.5C15.7417 2.16667 15.1333 2 14.5 2C13.65 2 12.9167 2.22917 12.3 2.6875C11.6833 3.14583 11.1083 3.75 10.575 4.5H9.425C8.90833 3.75 8.32083 3.14583 7.6625 2.6875C7.00417 2.22917 6.28333 2 5.5 2C4.55 2 3.72917 2.32917 3.0375 2.9875C2.34583 3.64583 2 4.475 2 5.475C2 6.025 2.11667 6.58333 2.35 7.15C2.58333 7.71667 3 8.37083 3.6 9.1125C4.2 9.85417 5.01667 10.7208 6.05 11.7125C7.08333 12.7042 8.4 13.9 10 15.3C10.4333 14.9167 10.9417 14.475 11.525 13.975C12.1083 13.475 12.575 13.0583 12.925 12.725L14.35 14.15C13.9833 14.4833 13.5167 14.8958 12.95 15.3875C12.3833 15.8792 11.8833 16.3167 11.45 16.7L10 18ZM17 14V11H14V9H17V6H19V9H22V11H19V14H17Z"
                                fill="#0496FF" />
                        </svg>
                        ')}}
                    {{/if}}
                </div>
            </div>
        {{/iff}}
</div>
