<div class="emp-vacs__main-frame">
    <div class="emp-vacs__item">
        {{#each vacancies}}
        <div class="vacs__list__item">
            <div class="vacs__list__item__desc__main vacs__list__item__desc__main--desktop">
                <div class="vacs__list__item__company-logo">
                    <a class="js-nav-link" href="/vacancies/profile/{{this.employer_id}}"><img src="/images/Logo 1.png" alt=""></a>
                </div>
                <div>
                <h3 class="vacs__list__item__company-name">{{../organization}}</h3>
                <div class="vacancie__additional-info">
                    <div class="add-info">
                        <img class="add-info__img" src="/images/img/rouble_outline_20.png">
                        <div class="tooltip">
                            <div class="common-text common-text--medium text-dark-regular" name="vacancy-salary">
                                {{this.salary_view}}
                            </div>
                            <span class="tooltip-text-down tooltip-text-down__vacancy">{{this.salary_view}}</span>
                        </div>
                    </div>
                    <div class="add-info">
                        <img class="add-info__img" src="/images/img/stars_20.png">
                        <div class="tooltip">
                            <div class="common-text common-text--medium text-dark-regular" name="vacancy-experience">
                            {{this.expirience_view}}
                            </div>
                            <span class="tooltip-text-down tooltip-text-down__vacancy">Требуемый опыт: {{this.expirience_view}}</span>
                        </div>
                    </div>
                    <div class="add-info">
                        <img class="add-info__img" src="/images/img/clock_outline_20.png">
                        <div class="tooltip">
                            <div class="common-text common-text--medium text-dark-regular" name="vacancy-employment">
                            {{this.employment_view}}
                            </div>
                            <span class="tooltip-text-down tooltip-text-down__vacancy">Занятость: {{this.employment_view}}</span>
                        </div>
                    </div>
                    <div class="add-info">
                        <img class="add-info__img" src="/images/img/location_map_outline_20.png">
                        <div class="tooltip">
                            <div class="common-text common-text--medium text-dark-regular" name="vacancy-location">
                            {{this.location}}
                            </div>
                            <span class="tooltip-text-down tooltip-text-down__vacancy">Расположение: {{this.location}}</span>
                        </div>
                    </div>
                    <div class="add-info">
                        <img class="add-info__img" src="/images/img/calendar_check_outline_20.png">
                        <div class="tooltip">
                            <div class="common-text common-text--medium text-dark-regular">2 дня</div>
                            <span class="tooltip-text-down tooltip-text-down__vacancy">Время отклика: 2 дня</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="vacs__list__item__desc__text">
                <h3 class="vacs__list__item__desc__name">
                {{> components/link-btn (object text=this.name
                class="js-nav-link vacs__list__item__desc__name__link link-btn_transp link-btn_semi-bold link-btn_block"
                class_text="x-large-font")
                href="no"
                dynamicHref="/vacancy/" 
                staticHref=this.id}}
                {{!-- <a href="#">{{this.name}}</a> --}}
                </h3>
                <p class="vacs__list__item__desc__prev vacs__list__item__description__main--desktop" name="vacancy-description">
                {{this.description}}
                </p>
            </div>
            <div class="vacs__list__item__mobile-version">
                <div class="add-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M3.33268 17.5C2.87435 17.5 2.48199 17.3368 2.1556 17.0104C1.82921 16.684 1.66602 16.2917 1.66602 15.8333V6.66667C1.66602 6.20833 1.82921 5.81597 2.1556 5.48958C2.48199 5.16319 2.87435 5 3.33268 5H6.66602V3.33333C6.66602 2.875 6.82921 2.48264 7.1556 2.15625C7.48199 1.82986 7.87435 1.66667 8.33268 1.66667H11.666C12.1243 1.66667 12.5167 1.82986 12.8431 2.15625C13.1695 2.48264 13.3327 2.875 13.3327 3.33333V5H16.666C17.1243 5 17.5167 5.16319 17.8431 5.48958C18.1695 5.81597 18.3327 6.20833 18.3327 6.66667V15.8333C18.3327 16.2917 18.1695 16.684 17.8431 17.0104C17.5167 17.3368 17.1243 17.5 16.666 17.5H3.33268ZM3.33268 15.8333H16.666V6.66667H3.33268V15.8333ZM8.33268 5H11.666V3.33333H8.33268V5Z" fill="#1C1B1F"/>
                    </svg>
                    <div class="common-text common-text--medium text-dark-regular">
                    {{#if this.organization_name}}{{this.organization_name}}{{else}}{{../organization}}{{/if}}
                    </div>
                </div>
                <div class="add-info">
                    <img class="add-info__img" src="/images/img/location_map_outline_20.png">
                    <div class="common-text common-text--medium text-dark-regular" name="vacancy-location">
                    {{this.location}}
                    </div>
                </div>
                <div class="add-info">
                    <img class="add-info__img" src="/images/img/rouble_outline_20.png">
                    <div class="common-text common-text--medium text-dark-regular ellipsis-salary" name="vacancy-salary">
                        {{#if this.salary_view}}
                            {{this.salary_view}}
                        {{else}}
                            {{this.salary}}
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#iff ../user.role '==' 'employer'}}
            {{else}}
            <div class="vacs__list__item__feed">
                <div class="vacs__list__item__feed__respond">
                    <a href="/vacancy/{{this.id}}/response" class="js-nav-link text-light-title link-btn-blue--bg common-text common-text--medium">
                        Откликнуться
                    </a>
                </div>
                <div class="vacs__list__item__feed__fav" id="{{this.id}}">
                    {{#if this.favourite}}
                        {{> components/link-btn (object
                        class="js-remove-fav-vac vacs__list__item__feed__fav__btn br-10 link-svg_blue--bg d-block"
                        svg='<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
                            <path 
                                d="M10 18L6.825 15.15C5.625 14.0667 4.59583 13.1 3.7375 12.25C2.87917 11.4 2.17083 10.6 1.6125 9.85C1.05417 9.1 0.645833 8.375 0.3875 7.675C0.129167 6.975 0 6.24167 0 5.475C0 3.90833 0.525 2.60417 1.575 1.5625C2.625 0.520833 3.93333 0 5.5 0C6.36667 0 7.19167 0.183333 7.975 0.55C8.75833 0.916667 9.43333 1.43333 10 2.1C10.5667 1.43333 11.2417 0.916667 12.025 0.55C12.8083 0.183333 13.6333 0 14.5 0C15.9 0 17.175 0.491667 18.325 1.475C19.475 2.45833 20.05 3.79167 20.05 5.475C20.05 5.70833 20.0333 5.95417 20 6.2125C19.9667 6.47083 19.9167 6.73333 19.85 7H17.725C17.8083 6.7 17.875 6.41667 17.925 6.15C17.975 5.88333 18 5.63333 18 5.4C18 4.15 17.5833 3.27083 16.75 2.7625C15.9167 2.25417 15.1667 2 14.5 2C13.65 2 12.9167 2.22917 12.3 2.6875C11.6833 3.14583 11.1083 3.75 10.575 4.5H9.425C8.90833 3.75 8.32083 3.14583 7.6625 2.6875C7.00417 2.22917 6.28333 2 5.5 2C4.55 2 3.72917 2.32917 3.0375 2.9875C2.34583 3.64583 2 4.475 2 5.475C2 6.025 2.11667 6.58333 2.35 7.15C2.58333 7.71667 3 8.37083 3.6 9.1125C4.2 9.85417 5.01667 10.7208 6.05 11.7125C7.08333 12.7042 8.4 13.9 10 15.3C10.4333 14.9167 10.9417 14.475 11.525 13.975C12.1083 13.475 12.575 13.0583 12.925 12.725L14.35 14.15C13.9833 14.4833 13.5167 14.8958 12.95 15.3875C12.3833 15.8792 11.8833 16.3167 11.45 16.7L10 18ZM14 11V9H22V11H14Z" 
                                fill="#0496FF"/>
                        </svg>
                        ')}}
                    {{else}}
                        {{> components/link-btn (object
                        class="js-add-fav-vac vacs__list__item__feed__fav__btn br-10 link-svg_blue--bg d-block"
                        svg='<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 18L6.825 15.15C5.625 14.0667 4.59583 13.1 3.7375 12.25C2.87917 11.4 2.17083 10.6 1.6125 9.85C1.05417 9.1 0.645833 8.375 0.3875 7.675C0.129167 6.975 0 6.24167 0 5.475C0 3.90833 0.525 2.60417 1.575 1.5625C2.625 0.520833 3.93333 0 5.5 0C6.36667 0 7.19167 0.183333 7.975 0.55C8.75833 0.916667 9.43333 1.43333 10 2.1C10.5667 1.43333 11.2417 0.916667 12.025 0.55C12.8083 0.183333 13.6333 0 14.5 0C15.85 0 16.9833 0.379167 17.9 1.1375C18.8167 1.89583 19.4417 2.85 19.775 4H17.65C17.35 3.33333 16.9083 2.83333 16.325 2.5C15.7417 2.16667 15.1333 2 14.5 2C13.65 2 12.9167 2.22917 12.3 2.6875C11.6833 3.14583 11.1083 3.75 10.575 4.5H9.425C8.90833 3.75 8.32083 3.14583 7.6625 2.6875C7.00417 2.22917 6.28333 2 5.5 2C4.55 2 3.72917 2.32917 3.0375 2.9875C2.34583 3.64583 2 4.475 2 5.475C2 6.025 2.11667 6.58333 2.35 7.15C2.58333 7.71667 3 8.37083 3.6 9.1125C4.2 9.85417 5.01667 10.7208 6.05 11.7125C7.08333 12.7042 8.4 13.9 10 15.3C10.4333 14.9167 10.9417 14.475 11.525 13.975C12.1083 13.475 12.575 13.0583 12.925 12.725L14.35 14.15C13.9833 14.4833 13.5167 14.8958 12.95 15.3875C12.3833 15.8792 11.8833 16.3167 11.45 16.7L10 18ZM17 14V11H14V9H17V6H19V9H22V11H19V14H17Z"
                                fill="#0496FF" />
                        </svg>
                        ')}}
                    {{/if}}
                </div>
            </div>
            {{/iff}}
        </div>
    {{/each}}
    </div>
</div>
