<aside class="vacs__filters">
  <div class="vacs__desc header-text header-text--first text-dark-title fw-bold">
    Найдено <span>{{#if data}}{{ vacancies.count }}{{else}}0{{/if}}</span> вакансий
  </div>
  {{#if checked_checkboxes}}
    <a href="/vacs" class="link-btn link-btn_blue-without-bd  common-text common-text--medium">Сбросить фильтры</a>
  {{/if}}
  <div class="vacs__button-open-filters">
    <button class="text-light-title link-btn-blue--bg common-text common-text--medium" name="vacs_filters">Фильтры</button>
  </div>
  <!-- Input field -->
  {{!-- <div class="vacs__search vacs__filter">
    <div class="vacs__search__name vacs__filter__name">
      Профессия, должность или компания
    </div>
    {{> input (object obj=(object placeholder="Ключевые слова")
    class="vacs__search__input common-text common-text--medium")}}
    {{> link-btn (object text="Применить"
    class="common-text common-text--medium link-btn-blue--bg text-light-title")}}
  </div> --}}
  <!-- Checkbox buttons -->
  <div class="vacs__filters-frame vacs__filters-frame-mobile-hidden">
    {{log filters}}
    {{#each filters}}
    {{#iff this.name '==' 'salary'}}
    {{else}}
    <div class="vacs__filter" name="{{this.name}}">
      <div class="vacs__filter__name">
        {{ruFilters this.name}}
      </div>
      <ul class="vacs__filter__list">
        {{#each (sortByCityCount this.values this.name 5)}}
        {{#iff this.value '==' 'none'}}
        {{else iff this.value '==' 'nothing'}}
        {{else}}
          <li class="vacs__filter__list__item">
              {{#iff ../this.type '==' 'radio'}}
              {{> input_radio (object text=(ruFilters this.value) name="category"
              class_label="vacs__filter__list__item__label") }}
              {{else iff ../this.type '==' 'double_range'}}
              
              {{else}}
              <label class="vacs__filter__list__item__label">
                {{#isInArray this.value ../../checked_checkboxes}}
                  {{> input_checkbox (object jsclass="js_filter__label_input_click" isSelected="true" filter_name=../this.name)}}
                {{else}}
                  {{> input_checkbox (object jsclass="js_filter__label_input_click" filter_name=../this.name)}}
                {{/isInArray}}
                <span title="{{this.value}}">{{#iff ../this.name '==' 'city'}}{{this.value}}{{else}}{{ ruFilters this.value}}{{/iff}}</span>
              </label>
              {{/iff}}
              {{#iff ../this.type '==' 'double_range'}}
              {{else}}
                <div class="cursive-text text-form-active">
                  {{this.count}}
                </div>
              {{/iff}}
          </li>
        {{/iff}}
        {{/each}}
      </ul>
        {{#iff this.type '==' 'checkbox_search'}}
          <div class="filters__for_search">
            {{#each (array
            (object name=this.name placeholder=(ruFilters this.name))
            )}}

            {{> input (object obj=this
            class=(object
            title="res__form__input__title"
            input="res__form__input forms-placeholder"
            block="res__form__field"
            )
            name=this.name)}}
            {{/each}}
          <button class="text-light-title link-btn-blue--bg common-text common-text--medium">Применить</button>
        </div>
        {{/iff}}
    </div>
    {{/iff}}
    {{/each}}
  </div>
</aside>
