<div class="profile">
    <div class="d-flex profile__header profile__header--background--default-hh">
        <img class="profile__image" src="../../../public/images/profile.png" alt="profile-logo">
        <div class="profile__info">
            <div class="profile__main-info">
                <div class="profile__about">
                    <div class="header-text header-text--first text-light-title">{{cv.first_name}} {{cv.last_name}}</div>
                    <div class="secondary-text text-light-regular">Соискатель</div>
                </div>
            </div>
        </div>
        <div class="profile__filled-container">
            <div class="profile__role-big-frame">
                <div class="profile__roles-frame">
                    <div class="tooltip">
                        
                        <img src="../../../public/images/img/profile_28-01.png" class="profile__role-img">
                        <span class="tooltip-text-down tooltip-text-down__profile common-text common-text-medium text-dark-title">Соискатель</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emp-vacs__frame">
        <div class="header-text header-text--first">
            Найдено {{cv.cvs.length}} резюме соискателя
        </div>
        <div class="emp-vacs__main-frame">
            <div class="emp-vacs__item">
                {{#each cv.cvs}}
                <div class="vacs__list__item" style="width: 100%;">
                    <div class="vacs__list__item__desc__main">
                        <div class="vacs__list__item__company-logo">
                            <a class="js-nav-link" href="/resumes/profile/{{this.applicant_id}}"><img src="../../public/images/profile.png" alt=""></a>
                        </div>
                        
                        
                    </div>
                    <div class="vacs__list__item__desc__text">
                        <h3 class="vacs__list__item__desc__name">
                        {{> link-btn (object text=this.profession_name
                        class="js-nav-link vacs__list__item__desc__name__link link-btn_transp link-btn_semi-bold link-btn_block"
                        class_text="x-large-font")
                        href="no"
                        dynamicHref="/resume/" 
                        staticHref=this.id}}
                        {{!-- <a href="#">{{this.name}}</a> --}}
                        </h3>
                        <p class="vacs__list__item__desc__prev" name="vacancy-description">
                        {{this.description}}
                        </p>
                    </div>
                    {{log ../user}}
                    
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>
