<div class="column-wrapper">
  <div class="form-block">
    <form class="form">
      <span class="form__title x-large-font">
        {{#iff form_type '==' 'login'}}
        Войти
        {{else}}
        Регистрация
        {{/iff}}
      </span>
      <div class="d-flex">
        <span class="me-10">Найти работу</span>
        <a class="form__slider {{#iff role '==' 'emp'}} form__slider_right {{/iff}} js-link" href="
        {{#iff form_type '==' 'reg'}} 
        {{#iff role '==' 'app'}} 
        /emp_reg
        {{else}} 
        /app_reg
        {{/iff}} 
        {{else}}   
        {{#iff role '==' 'app'}} 
        /emp_login
        {{else}} 
        /app_login
        {{/iff}}  
        {{/iff}}
        ">
          <div class="form__slider__circle"></div>
        </a>
        <span class="ms-10">Найти сотрудников</span>
      </div>

      <div class="form__error d-none"></div>

      {{#each inputs}}
      {{> input (object obj=this class="form__input-txt")}}
      {{/each}}

      <label class="form__input-remember" for="remember">
        {{> input_checkbox (object name="remember")}}
        <span>Запомнить пароль</span>
      </label>
      <div class="form__actions">
        <button type="submit" class="link-btn link-btn_blue link-btn_pd-med link-btn_bd-rad-sm">
          <span class="link-btn__text">{{#iff form_type '==' 'login' }}
            Войти
            {{else}}
            Зарегистрироваться
            {{/iff}}
          </span>
        </button>
        <a class="js-link link-btn link-btn_transp-box-blue link-btn_pd-med link-btn_bd-rad-sm"
          href="
        {{#iff role '==' 'app'}} 
        {{#iff form_type '==' 'reg'}} 
        /app_login
        {{else}} 
        /app_reg
        {{/iff}} 
        {{else}}   
        {{#iff form_type '==' 'reg'}} 
        /emp_login
        {{else}} 
        /emp_reg
        {{/iff}}  
        {{/iff}}
        ">
          <span class="link-btn__text">
            {{#iff form_type '==' 'login' }}
            Создать аккаунт
            {{else}}
            Уже есть аккаунт
            {{/iff}}
          </span>
        </a>
      </div>
    </form>
  </div>
</div>
