<div class="column-wrapper">
  <div class="reg_auth__mobile-block">
    <svg class="reg_auth__svg_back" xmlns="http://www.w3.org/2000/svg" height="267" fill="none">
      <path d="M428 263.131C406.25 242.097 371.04 214.755 325.21 209.751C242.43 200.702 199.33 272.683 113.81 266.639C86.8 264.731 47.09 254.436 0 212.379V0H428V263.131Z" fill="#0496FF"/>
    </svg>
  </div>
  <div class="reg_auth">
    <div class="reg_auth__back-btn-frame">
      <a href="/vacs" class="js-nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2152 13.2151C14.0353 12.395 15.3649 12.395 16.185 13.2151L28.0001 25.0302L39.8153 13.2151C40.6354 12.395 41.9648 12.395 42.7849 13.2151C43.6051 14.0352 43.6051 15.3648 42.7849 16.1849L30.9701 28L42.7849 39.8152C43.6051 40.6353 43.6051 41.9647 42.7849 42.7848C41.9648 43.605 40.6354 43.605 39.8153 42.7848L28.0001 30.97L16.185 42.7848C15.3649 43.605 14.0353 43.605 13.2152 42.7848C12.3951 41.9647 12.3951 40.6353 13.2152 39.8152L25.0302 28L13.2152 16.1849C12.3951 15.3648 12.3951 14.0352 13.2152 13.2151Z" fill="#EBEDEB"/>
        </svg>
      </a>
    </div>
    <form class="reg_auth__form form">
      <div class="reg_auth__form__title header-text header-text--first text-dark-title reg_auth__form__mobile-main-text">
        {{#iff form_type '==' FORM_TYPES.auth}}
        Войти ({{iffs role '==' ROLES.app "как соискатель" "как работодатель"}})
        {{else}}
        Регистрация {{iffs role '==' ROLES.app "соискателя" "работодателя"}}
        {{/iff}}
      </div>

      <div class="reg__auth__form--field">
        <div class="reg_auth__form__nav">
          <span class="me-10 {{#iff role '==' ROLES.emp}}text-dark-regular{{else}}text-dark-title{{/iff}}">Соискатель</span>
          <a class="reg_auth__form__slider {{#iff role '==' ROLES.emp}} reg_auth__form__slider_right {{/iff}} js-nav-link"
            href="{{iffs form_type '==' FORM_TYPES.reg (iffs role '==' ROLES.emp "/app_reg" "/emp_reg" ) 
            (iffs role '==' ROLES.emp "/app_auth" "/emp_auth" )}}">
            <div class="reg_auth__form__slider__circle"></div>
          </a>
          <span class="ms-10 {{#iff role '==' ROLES.app}}text-dark-regular{{else}}text-dark-title{{/iff}}">Работодатель</span>
        </div>

        {{#if error }}
        <div class="form__error">{{error}}</div>
        {{/if}}

        {{!-- inputs: --}}

        <div class="reg_auth__input-fields">
          {{#each
          (iffs form_type '==' FORM_TYPES.reg
          (iffs role '==' ROLES.app
          (array
          (object type='text' name='first_name' placeholder='Имя' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M12.5 5.5C12.5 4.11859 11.3814 3 10 3C8.61859 3 7.5 4.11859 7.5 5.5C7.5 6.88141 8.61859 8 10 8C11.3814 8 12.5 6.88141 12.5 5.5ZM14 5.5C14 7.70984 12.2098 9.5 10 9.5C7.79016 9.5 6 7.70984 6 5.5C6 3.29016 7.79016 1.5 10 1.5C12.2098 1.5 14 3.29016 14 5.5ZM4 16C4 16.7152 4.35765 17 5 17H15C15.6423 17 16 16.7152 16 16C16 13.6666 13.4334 12.5 10 12.5C6.56661 12.5 4 13.6666 4 16ZM2.5 16C2.5 12.5152 5.83339 11 10 11C14.1666 11 17.5 12.5152 17.5 16C17.5 17.6283 16.4053 18.5 15 18.5H5C3.59467 18.5 2.5 17.6283 2.5 16Z" fill="black"/>
          </svg>')
          (object type='text' name='last_name' placeholder='Фамилия' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M12.5 5.5C12.5 4.11859 11.3814 3 10 3C8.61859 3 7.5 4.11859 7.5 5.5C7.5 6.88141 8.61859 8 10 8C11.3814 8 12.5 6.88141 12.5 5.5ZM14 5.5C14 7.70984 12.2098 9.5 10 9.5C7.79016 9.5 6 7.70984 6 5.5C6 3.29016 7.79016 1.5 10 1.5C12.2098 1.5 14 3.29016 14 5.5ZM4 16C4 16.7152 4.35765 17 5 17H15C15.6423 17 16 16.7152 16 16C16 13.6666 13.4334 12.5 10 12.5C6.56661 12.5 4 13.6666 4 16ZM2.5 16C2.5 12.5152 5.83339 11 10 11C14.1666 11 17.5 12.5152 17.5 16C17.5 17.6283 16.4053 18.5 15 18.5H5C3.59467 18.5 2.5 17.6283 2.5 16Z" fill="black"/>
          </svg>')
          (object type='text' name='email' placeholder='Электронная почта' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5774 0.5H12.4226C14.1963 0.5 14.8413 0.6806 15.4902 1.0283C16.1293 1.3708 16.6309 1.8734 16.9728 2.5138C17.3198 3.164 17.5 3.8103 17.5 5.5876V10.4124C17.5 12.1897 17.3198 12.836 16.9728 13.4862C16.6309 14.1266 16.1293 14.6292 15.4902 14.9717C14.8413 15.3194 14.1963 15.5 12.4226 15.5H5.5774C3.8037 15.5 3.1587 15.3194 2.5098 14.9717C1.8707 14.6292 1.3691 14.1266 1.0273 13.4862C0.6802 12.836 0.5 12.1897 0.5 10.4124V5.5876C0.5 3.8103 0.6802 3.164 1.0272 2.5138C1.3691 1.8734 1.8707 1.3708 2.5098 1.0283C3.1588 0.6806 3.8038 0.5 5.5774 0.5ZM2 10.4124V5.5876C2 3.99 2.1558 3.5912 2.3294 3.2601L6.793 7.7237C7.0726 8.0033 7.3138 8.2445 7.5286 8.4269C7.7554 8.6194 8.0018 8.7901 8.3046 8.8885C8.75652 9.03543 9.24338 9.03543 9.6953 8.8885C9.9982 8.7901 10.2445 8.6194 10.4713 8.4269C10.6862 8.2445 10.9274 8.0033 11.2069 7.7237L15.6706 3.26C15.8442 3.591 16 3.9898 16 5.5875V10.4123C16 12.0746 15.8313 12.439 15.6495 12.7798C15.4471 13.159 15.1592 13.4472 14.7817 13.6495C14.4429 13.831 14.0807 13.9999 12.4226 13.9999H5.5774C3.9194 13.9999 3.5571 13.831 3.2184 13.6495C2.8408 13.4472 2.553 13.159 2.3506 12.7798C2.1686 12.4391 2 12.0747 2 10.4124ZM12.4226 2H5.5774C4.2513 2 3.7541 2.108 3.4348 2.2442L7.8332 6.6426C8.139 6.9484 8.3369 7.1454 8.4994 7.2834C8.6552 7.4157 8.7286 7.4491 8.7682 7.462C8.91882 7.51094 9.08108 7.51094 9.2317 7.462C9.2713 7.4491 9.3447 7.4157 9.5006 7.2834C9.6631 7.1454 9.8609 6.9484 10.1667 6.6426L14.5652 2.2442C14.2459 2.108 13.7487 2 12.4226 2Z" fill="black"/>
          </svg>')
          (object type='password' name='password' placeholder='Придумайте пароль' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M10 4.4C3.439 4.4 0 9.232 0 10C0 10.766 3.439 15.6 10 15.6C16.56 15.6 20 10.766 20 10C20 9.232 16.56 4.4 10 4.4ZM10 14.307C7.545 14.307 5.555 12.379 5.555 10C5.555 7.621 7.545 5.691 10 5.691C12.455 5.691 14.444 7.621 14.444 10C14.444 12.379 12.455 14.307 10 14.307ZM10 10C9.593 9.553 10.663 7.846 10 7.846C8.772 7.846 7.777 8.811 7.777 10C7.777 11.189 8.772 12.154 10 12.154C11.227 12.154 12.223 11.189 12.223 10C12.223 9.453 10.346 10.379 10 10Z" fill="black"/>
          </svg>')
          (object type='password' name='repeat_password' placeholder='Повторите пароль' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M10 4.4C3.439 4.4 0 9.232 0 10C0 10.766 3.439 15.6 10 15.6C16.56 15.6 20 10.766 20 10C20 9.232 16.56 4.4 10 4.4ZM10 14.307C7.545 14.307 5.555 12.379 5.555 10C5.555 7.621 7.545 5.691 10 5.691C12.455 5.691 14.444 7.621 14.444 10C14.444 12.379 12.455 14.307 10 14.307ZM10 10C9.593 9.553 10.663 7.846 10 7.846C8.772 7.846 7.777 8.811 7.777 10C7.777 11.189 8.772 12.154 10 12.154C11.227 12.154 12.223 11.189 12.223 10C12.223 9.453 10.346 10.379 10 10Z" fill="black"/>
          </svg>')
          )

          (array
          (object type='text' name='first_name' placeholder='Имя' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M12.5 5.5C12.5 4.11859 11.3814 3 10 3C8.61859 3 7.5 4.11859 7.5 5.5C7.5 6.88141 8.61859 8 10 8C11.3814 8 12.5 6.88141 12.5 5.5ZM14 5.5C14 7.70984 12.2098 9.5 10 9.5C7.79016 9.5 6 7.70984 6 5.5C6 3.29016 7.79016 1.5 10 1.5C12.2098 1.5 14 3.29016 14 5.5ZM4 16C4 16.7152 4.35765 17 5 17H15C15.6423 17 16 16.7152 16 16C16 13.6666 13.4334 12.5 10 12.5C6.56661 12.5 4 13.6666 4 16ZM2.5 16C2.5 12.5152 5.83339 11 10 11C14.1666 11 17.5 12.5152 17.5 16C17.5 17.6283 16.4053 18.5 15 18.5H5C3.59467 18.5 2.5 17.6283 2.5 16Z" fill="black"/>
          </svg>')
          (object type='text' name='last_name' placeholder='Фамилия' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M12.5 5.5C12.5 4.11859 11.3814 3 10 3C8.61859 3 7.5 4.11859 7.5 5.5C7.5 6.88141 8.61859 8 10 8C11.3814 8 12.5 6.88141 12.5 5.5ZM14 5.5C14 7.70984 12.2098 9.5 10 9.5C7.79016 9.5 6 7.70984 6 5.5C6 3.29016 7.79016 1.5 10 1.5C12.2098 1.5 14 3.29016 14 5.5ZM4 16C4 16.7152 4.35765 17 5 17H15C15.6423 17 16 16.7152 16 16C16 13.6666 13.4334 12.5 10 12.5C6.56661 12.5 4 13.6666 4 16ZM2.5 16C2.5 12.5152 5.83339 11 10 11C14.1666 11 17.5 12.5152 17.5 16C17.5 17.6283 16.4053 18.5 15 18.5H5C3.59467 18.5 2.5 17.6283 2.5 16Z" fill="black"/>
          </svg>')
          (object type='text' name='organization_name' placeholder='Название компании' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M3.33341 18.0001C2.87508 18.0001 2.48272 17.8369 2.15633 17.5105C1.82994 17.1841 1.66675 16.7917 1.66675 16.3334V7.16675C1.66675 6.70841 1.82994 6.31605 2.15633 5.98966C2.48272 5.66328 2.87508 5.50008 3.33341 5.50008H6.66675V3.83341C6.66675 3.37508 6.82994 2.98272 7.15633 2.65633C7.48272 2.32994 7.87508 2.16675 8.33342 2.16675H11.6667C12.1251 2.16675 12.5174 2.32994 12.8438 2.65633C13.1702 2.98272 13.3334 3.37508 13.3334 3.83341V5.50008H16.6667C17.1251 5.50008 17.5174 5.66328 17.8438 5.98966C18.1702 6.31605 18.3334 6.70841 18.3334 7.16675V16.3334C18.3334 16.7917 18.1702 17.1841 17.8438 17.5105C17.5174 17.8369 17.1251 18.0001 16.6667 18.0001H3.33341ZM3.33341 16.3334H16.6667V7.16675H3.33341V16.3334ZM8.33342 5.50008H11.6667V3.83341H8.33342V5.50008Z" fill="#1C1B1F"/>
          </svg>')
          (object type='text' name='email' placeholder='Электронная почта' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5774 0.5H12.4226C14.1963 0.5 14.8413 0.6806 15.4902 1.0283C16.1293 1.3708 16.6309 1.8734 16.9728 2.5138C17.3198 3.164 17.5 3.8103 17.5 5.5876V10.4124C17.5 12.1897 17.3198 12.836 16.9728 13.4862C16.6309 14.1266 16.1293 14.6292 15.4902 14.9717C14.8413 15.3194 14.1963 15.5 12.4226 15.5H5.5774C3.8037 15.5 3.1587 15.3194 2.5098 14.9717C1.8707 14.6292 1.3691 14.1266 1.0273 13.4862C0.6802 12.836 0.5 12.1897 0.5 10.4124V5.5876C0.5 3.8103 0.6802 3.164 1.0272 2.5138C1.3691 1.8734 1.8707 1.3708 2.5098 1.0283C3.1588 0.6806 3.8038 0.5 5.5774 0.5ZM2 10.4124V5.5876C2 3.99 2.1558 3.5912 2.3294 3.2601L6.793 7.7237C7.0726 8.0033 7.3138 8.2445 7.5286 8.4269C7.7554 8.6194 8.0018 8.7901 8.3046 8.8885C8.75652 9.03543 9.24338 9.03543 9.6953 8.8885C9.9982 8.7901 10.2445 8.6194 10.4713 8.4269C10.6862 8.2445 10.9274 8.0033 11.2069 7.7237L15.6706 3.26C15.8442 3.591 16 3.9898 16 5.5875V10.4123C16 12.0746 15.8313 12.439 15.6495 12.7798C15.4471 13.159 15.1592 13.4472 14.7817 13.6495C14.4429 13.831 14.0807 13.9999 12.4226 13.9999H5.5774C3.9194 13.9999 3.5571 13.831 3.2184 13.6495C2.8408 13.4472 2.553 13.159 2.3506 12.7798C2.1686 12.4391 2 12.0747 2 10.4124ZM12.4226 2H5.5774C4.2513 2 3.7541 2.108 3.4348 2.2442L7.8332 6.6426C8.139 6.9484 8.3369 7.1454 8.4994 7.2834C8.6552 7.4157 8.7286 7.4491 8.7682 7.462C8.91882 7.51094 9.08108 7.51094 9.2317 7.462C9.2713 7.4491 9.3447 7.4157 9.5006 7.2834C9.6631 7.1454 9.8609 6.9484 10.1667 6.6426L14.5652 2.2442C14.2459 2.108 13.7487 2 12.4226 2Z" fill="black"/>
          </svg>')
          (object type='password' name='password' placeholder='Придумайте пароль' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M10 4.4C3.439 4.4 0 9.232 0 10C0 10.766 3.439 15.6 10 15.6C16.56 15.6 20 10.766 20 10C20 9.232 16.56 4.4 10 4.4ZM10 14.307C7.545 14.307 5.555 12.379 5.555 10C5.555 7.621 7.545 5.691 10 5.691C12.455 5.691 14.444 7.621 14.444 10C14.444 12.379 12.455 14.307 10 14.307ZM10 10C9.593 9.553 10.663 7.846 10 7.846C8.772 7.846 7.777 8.811 7.777 10C7.777 11.189 8.772 12.154 10 12.154C11.227 12.154 12.223 11.189 12.223 10C12.223 9.453 10.346 10.379 10 10Z" fill="black"/>
          </svg>')
          (object type='password' name='repeat_password' placeholder='Повторите пароль' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M10 4.4C3.439 4.4 0 9.232 0 10C0 10.766 3.439 15.6 10 15.6C16.56 15.6 20 10.766 20 10C20 9.232 16.56 4.4 10 4.4ZM10 14.307C7.545 14.307 5.555 12.379 5.555 10C5.555 7.621 7.545 5.691 10 5.691C12.455 5.691 14.444 7.621 14.444 10C14.444 12.379 12.455 14.307 10 14.307ZM10 10C9.593 9.553 10.663 7.846 10 7.846C8.772 7.846 7.777 8.811 7.777 10C7.777 11.189 8.772 12.154 10 12.154C11.227 12.154 12.223 11.189 12.223 10C12.223 9.453 10.346 10.379 10 10Z" fill="black"/>
          </svg>')
          )
          )

          (array
            (object type='text' name='email' placeholder='Электронная почта' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5774 0.5H12.4226C14.1963 0.5 14.8413 0.6806 15.4902 1.0283C16.1293 1.3708 16.6309 1.8734 16.9728 2.5138C17.3198 3.164 17.5 3.8103 17.5 5.5876V10.4124C17.5 12.1897 17.3198 12.836 16.9728 13.4862C16.6309 14.1266 16.1293 14.6292 15.4902 14.9717C14.8413 15.3194 14.1963 15.5 12.4226 15.5H5.5774C3.8037 15.5 3.1587 15.3194 2.5098 14.9717C1.8707 14.6292 1.3691 14.1266 1.0273 13.4862C0.6802 12.836 0.5 12.1897 0.5 10.4124V5.5876C0.5 3.8103 0.6802 3.164 1.0272 2.5138C1.3691 1.8734 1.8707 1.3708 2.5098 1.0283C3.1588 0.6806 3.8038 0.5 5.5774 0.5ZM2 10.4124V5.5876C2 3.99 2.1558 3.5912 2.3294 3.2601L6.793 7.7237C7.0726 8.0033 7.3138 8.2445 7.5286 8.4269C7.7554 8.6194 8.0018 8.7901 8.3046 8.8885C8.75652 9.03543 9.24338 9.03543 9.6953 8.8885C9.9982 8.7901 10.2445 8.6194 10.4713 8.4269C10.6862 8.2445 10.9274 8.0033 11.2069 7.7237L15.6706 3.26C15.8442 3.591 16 3.9898 16 5.5875V10.4123C16 12.0746 15.8313 12.439 15.6495 12.7798C15.4471 13.159 15.1592 13.4472 14.7817 13.6495C14.4429 13.831 14.0807 13.9999 12.4226 13.9999H5.5774C3.9194 13.9999 3.5571 13.831 3.2184 13.6495C2.8408 13.4472 2.553 13.159 2.3506 12.7798C2.1686 12.4391 2 12.0747 2 10.4124ZM12.4226 2H5.5774C4.2513 2 3.7541 2.108 3.4348 2.2442L7.8332 6.6426C8.139 6.9484 8.3369 7.1454 8.4994 7.2834C8.6552 7.4157 8.7286 7.4491 8.7682 7.462C8.91882 7.51094 9.08108 7.51094 9.2317 7.462C9.2713 7.4491 9.3447 7.4157 9.5006 7.2834C9.6631 7.1454 9.8609 6.9484 10.1667 6.6426L14.5652 2.2442C14.2459 2.108 13.7487 2 12.4226 2Z" fill="black"/>
            </svg>')
          (object type='password' name='password' placeholder='Пароль' svg='<svg class="auth__form_svg-input-field" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M10 4.4C3.439 4.4 0 9.232 0 10C0 10.766 3.439 15.6 10 15.6C16.56 15.6 20 10.766 20 10C20 9.232 16.56 4.4 10 4.4ZM10 14.307C7.545 14.307 5.555 12.379 5.555 10C5.555 7.621 7.545 5.691 10 5.691C12.455 5.691 14.444 7.621 14.444 10C14.444 12.379 12.455 14.307 10 14.307ZM10 10C9.593 9.553 10.663 7.846 10 7.846C8.772 7.846 7.777 8.811 7.777 10C7.777 11.189 8.772 12.154 10 12.154C11.227 12.154 12.223 11.189 12.223 10C12.223 9.453 10.346 10.379 10 10Z" fill="black"/>
            </svg>')
          )
          )
          }}

          {{> input (object obj=this
          class=(object
          block="reg_auth__form__field reg__auth__form__field-mobile-back"
          input="reg_auth__input reg__auth__form__field-mobile-input"
          )
          name=this.name
          value=(lookup ../data this.name)
          error=(lookup ../form_errors this.name)
          )}}

          {{/each}}
        </div>

        {{!-- ====== --}}

        <div class="form__actions">
          <button type="submit" class="link-btn-blue--bg common-text common-text--medium text-light-title auth__form__confirm-btn">
            <span class="link-btn__text">{{#iff form_type '==' FORM_TYPES.auth }}
              Войти
              {{else}}
              Зарегистрироваться
              {{/iff}}
            </span>
          </button>
          <div class="reg_auth__desktop-btn">
            <a class="js-nav-link link-btn-blue text-dodger-blue"
              href="{{iffs role '==' ROLES.app (iffs form_type '==' FORM_TYPES.reg "/app_auth" "/app_reg" ) 
              (iffs form_type '==' FORM_TYPES.reg "/emp_auth" "/emp_reg" )}}">
              <span class="link-btn__text">
                {{#iff form_type '==' FORM_TYPES.auth}}
                Создать аккаунт
                {{else}}
                Уже есть аккаунт
                {{/iff}}
              </span>
            </a>
          </div>
        </div>
        <div class="reg_auth__mobile-btn">
          {{#iff form_type '==' FORM_TYPES.auth}}
          <div class="header-text header-text--third text-dark-title">
            Нет аккаунта?
          </div>
          <a class="js-nav-link link-btn_blue-without-bd common-text common-text--medium"
            href="{{iffs role '==' ROLES.app (iffs form_type '==' FORM_TYPES.reg "/app_auth" "/app_reg" ) 
            (iffs form_type '==' FORM_TYPES.reg "/emp_auth" "/emp_reg" )}}">
            <span class="link-btn__text">
              Зарегистрироваться
            </span>
          </a>
          {{else}}
          <div class="header-text header-text--third text-dark-title">
            Уже есть аккаунт?
          </div>
          <a class="js-nav-link link-btn_blue-without-bd common-text common-text--medium"
            href="{{iffs role '==' ROLES.app (iffs form_type '==' FORM_TYPES.reg "/app_auth" "/app_reg" ) 
            (iffs form_type '==' FORM_TYPES.reg "/emp_auth" "/emp_reg" )}}">
            <span class="link-btn__text">
              Войти
            </span>
          </a>
          {{/iff}}
        </div>
      </div>
    </form>
  </div>
</div>
