<div class="column-wrapper">
  <div class="form-block">
    <form class="reg-form">
      <span class="default-text x-large-font">
        {{#iff form_type 'login'}}
        Войти
        {{else}}
        Регистрация
        {{/iff}}
      </span>
      <div class="d-flex">
        <span class="reg-text me-10">Найти работу</span>
        <a href="
        {{#iff form_type 'reg'}} 
        {{#iff role 'app'}} 
        /emp_reg
        {{else}} 
        /app_reg
        {{/iff}} 
        {{else}}   
        {{#iff role 'app'}} 
        /emp_login
        {{else}} 
        /app_login
        {{/iff}}  
        {{/iff}}
        " class="elipse-button {{#iff role 'emp'}} elipse-button-right {{/iff}}">
          <div class="circle"></div>
        </a>
        <span class="reg-text ms-10">Найти сотрудников</span>
      </div>

      {{#each inputs}}
      <label class="input">
        <input type="{{ this.type }}" class="input-in" name="{{ this.name }}" placeholder="{{ this.placeholder }}">
      </label>
      {{/each}}

      <label for="rememberPassword" class="remember-label">
        <input type="checkbox" name="rememberPassword" class="remember-checkbox">
        <span class="reg-text small-font">Запомнить пароль</span>
      </label>
      <div class="form-actions">
        <button type="submit" class="fully-button side-m-0">
          {{#iff form_type 'login' }}
          Войти
          {{else}}
          Заргестрироваться
          {{/iff}}
        </button>
        <a href="#" class="transparent-button side-m-0">
          {{#iff form_type 'login' }}
          Зарегистрироваться
          {{else}}
          Уже есть аккаунт
          {{/iff}}
        </a>
      </div>
    </form>
  </div>
</div>
