<section class="main-content">
  <div class="column-wrapper">
    <div class="vac-res">
      <aside class="filters">
        <div class="vac-res-desc">
          Найдено <span>{{ data.length }}</span> вакансий
        </div>
        <!-- Input field -->
        <div class="filters-item">
          <div class="filter-name">
            Порофессия, должность или компания
          </div>
          <input class="comp-input-text" type="text" placeholder="Ключевые слова">
          <button class="btn-filled" type="submit">Применить</button>
        </div>
        <!-- Checkbox buttons -->
        <div class="filters-item">
          <div class="filter-name">
            Регион
          </div>
          <ul class="filter-list">
            <li class="filter-list-item">
              <label class="filter-list-item-label">
                <input type="checkbox" name="" id="">
                <div class="custom-checkbox">
                  <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6.5501 12.5L0.850098 6.79998L2.2751 5.37498L6.5501 9.64998L15.7251 0.474976L17.1501 1.89998L6.5501 12.5Z"
                      fill="#E4FDE1" />
                  </svg>
                </div>
                <span>Россия</span>
              </label>
            </li>
            <li class="filter-list-item">
              <label class="filter-list-item-label">
                <input type="checkbox" name="" id="">
                <div class="custom-checkbox">
                  <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6.5501 12.5L0.850098 6.79998L2.2751 5.37498L6.5501 9.64998L15.7251 0.474976L17.1501 1.89998L6.5501 12.5Z"
                      fill="#E4FDE1" />
                  </svg>
                </div>
                <span>Москва</span>
              </label>
            </li>

          </ul>
        </div>
        <!-- Radio buttons -->
        <div class="filters-item">
          <ul class="filter-list">
            <div class="filter-name">
              Уровень дохода
            </div>
            <li class="filter-list-item">
              <label class="filter-list-item-label">
                <input type="radio" name="category" id="">
                <div class="custom-radio">
                  <!-- <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24 12.5C24 19.1274 18.6274 24.5 12 24.5C5.37258 24.5 0 19.1274 0 12.5C0 5.87258 5.37258 0.5 12 0.5C18.6274 0.5 24 5.87258 24 12.5ZM6.34744 12.5C6.34744 15.6218 8.87818 18.1526 12 18.1526C15.1218 18.1526 17.6526 15.6218 17.6526 12.5C17.6526 9.37818 15.1218 6.84744 12 6.84744C8.87818 6.84744 6.34744 9.37818 6.34744 12.5Z"
                                                fill="#0496FF" />
                                        </svg> -->

                </div>
                <span>Не имеет значения</span>
              </label>
            </li>
            <li class="filter-list-item">
              <label class="filter-list-item-label">
                <input type="radio" name="category" id="">
                <div class="custom-radio">
                  <!-- <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24 12.5C24 19.1274 18.6274 24.5 12 24.5C5.37258 24.5 0 19.1274 0 12.5C0 5.87258 5.37258 0.5 12 0.5C18.6274 0.5 24 5.87258 24 12.5ZM6.34744 12.5C6.34744 15.6218 8.87818 18.1526 12 18.1526C15.1218 18.1526 17.6526 15.6218 17.6526 12.5C17.6526 9.37818 15.1218 6.84744 12 6.84744C8.87818 6.84744 6.34744 9.37818 6.34744 12.5Z"
                                                fill="#0496FF" />
                                        </svg> -->
                </div>
                <span>> 70000</span>
              </label>
            </li>
          </ul>
        </div>

      </aside>
      <div class="vac-list-block">
        <div class="vac-list-params">
          <div class="vac-list-sorted">
            <button>По дате
              <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 7.4L0 1.4L1.4 0L6 4.6L10.6 0L12 1.4L6 7.4Z" fill="#0496FF" />
              </svg>
            </button>
          </div>
          <div class="vac-list-view">
            <button class="btn-filled">
              <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 14H18V11.325H7V14ZM2 4.675H5V2H2V4.675ZM2 9.35H5V6.675H2V9.35ZM2 14H5V11.325H2V14ZM7 9.35H18V6.675H7V9.35ZM7 4.675H18V2H7V4.675ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H18C18.55 0 19.0208 0.195833 19.4125 0.5875C19.8042 0.979167 20 1.45 20 2V14C20 14.55 19.8042 15.0208 19.4125 15.4125C19.0208 15.8042 18.55 16 18 16H2Z"
                  fill="#E4FDE1" />
              </svg>

            </button>
            <button class="btn">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 8V0H8V8H0ZM0 18V10H8V18H0ZM10 8V0H18V8H10ZM10 18V10H18V18H10ZM2 6H6V2H2V6ZM12 6H16V2H12V6ZM12 16H16V12H12V16ZM2 16H6V12H2V16Z"
                  fill="#0496FF" />
              </svg>

            </button>
          </div>
        </div>
        <ul class="vacs-list">
          {{#each data}}
          <li class="vac">
            <div class="vac-desc-main">
              <div class="vac-company-logo">
                <a href=""><img src="../../public/images/Logo 1.png" alt=""></a>
              </div>
              <div>
                <h3 class="vac-company-name">{{this.company_name}}</h3>
                <div class="vac-desc-list">
                  <div class="vac-location">
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7.00616 7.88775C7.3762 7.88775 7.69103 7.75599 7.95064 7.49248C8.21025 7.22898 8.34006 6.91221 8.34006 6.54217C8.34006 6.17214 8.20831 5.85732 7.94481 5.59771C7.68129 5.3381 7.36452 5.20829 6.99449 5.20829C6.62445 5.20829 6.30963 5.34004 6.05002 5.60354C5.7904 5.86706 5.6606 6.18383 5.6606 6.55386C5.6606 6.9239 5.79235 7.23872 6.05585 7.49833C6.31936 7.75795 6.63613 7.88775 7.00616 7.88775ZM7.00033 14.157C8.58899 12.7671 9.82618 11.4124 10.7119 10.0929C11.5976 8.77345 12.0404 7.60999 12.0404 6.6025C12.0404 5.13883 11.5647 3.92115 10.6133 2.94946C9.66192 1.97777 8.45759 1.49192 7.00033 1.49192C5.54306 1.49192 4.33874 1.97777 3.38735 2.94946C2.43596 3.92115 1.96027 5.13883 1.96027 6.6025C1.96027 7.60999 2.40311 8.77345 3.28879 10.0929C4.17448 11.4124 5.41166 12.7671 7.00033 14.157ZM7.00033 15.5913C4.95902 13.8558 3.42813 12.2406 2.40766 10.7456C1.38719 9.25063 0.876953 7.8696 0.876953 6.6025C0.876953 4.90167 1.44693 3.44548 2.58689 2.23394C3.72684 1.0224 5.19451 0.416626 6.98991 0.416626C8.78531 0.416626 10.2565 1.0224 11.4033 2.23394C12.5503 3.44548 13.1237 4.90167 13.1237 6.6025C13.1237 7.8696 12.617 9.24754 11.6037 10.7363C10.5903 12.2251 9.05587 13.8434 7.00033 15.5913Z"
                        fill="#5E5E5E" />
                    </svg>
                    <span>Москва</span>
                  </div>
                  <div class="vac-busyness">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10.9362 11.3974L11.7102 10.6234L8.54195 7.45488V2.99994H7.45866V7.91981L10.9362 11.3974ZM8.0017 15.5833C6.9571 15.5833 5.97521 15.3859 5.05603 14.9912C4.13685 14.5964 3.33134 14.0533 2.63949 13.3618C1.94763 12.6703 1.40425 11.8641 1.00935 10.9433C0.614444 10.0225 0.416992 9.0387 0.416992 7.99179C0.416992 6.94488 0.614353 5.96053 1.00908 5.03875C1.4038 4.11696 1.94692 3.31361 2.63845 2.62871C3.32999 1.94379 4.13615 1.40388 5.05693 1.00898C5.97771 0.614078 6.96155 0.416626 8.00845 0.416626C9.05537 0.416626 10.0398 0.615654 10.9616 1.01371C11.8835 1.41177 12.6854 1.95197 13.3673 2.63433C14.0493 3.31671 14.5891 4.11913 14.9869 5.04161C15.3847 5.96406 15.5836 6.94971 15.5836 7.99854C15.5836 9.04314 15.3863 10.025 14.9915 10.9442C14.5968 11.8634 14.0572 12.6689 13.3726 13.3608C12.688 14.0526 11.8841 14.596 10.9609 14.9909C10.0377 15.3858 9.05134 15.5833 8.0017 15.5833ZM8.01024 14.4999C9.80853 14.4999 11.3398 13.8645 12.604 12.5937C13.8682 11.3229 14.5003 9.78829 14.5003 7.99C14.5003 6.19171 13.8682 4.66046 12.604 3.39625C11.3398 2.13204 9.80853 1.49994 8.01024 1.49994C6.21195 1.49994 4.67739 2.13204 3.40655 3.39625C2.13572 4.66046 1.5003 6.19171 1.5003 7.99C1.5003 9.78829 2.13572 11.3229 3.40655 12.5937C4.67739 13.8645 6.21195 14.4999 8.01024 14.4999Z"
                        fill="#5E5E5E" />
                    </svg>
                    <span>Частичная занятость</span>
                  </div>
                  <div сlass="vac-salary">
                    <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M2.20801 13.5833V11.1634H0.708008V10.0801H2.20801V8.27556H0.708008V7.19225H2.20801V0.416626H7.36184C8.45733 0.416626 9.38611 0.797078 10.1482 1.55798C10.9103 2.31888 11.2913 3.24623 11.2913 4.34002C11.2913 5.43381 10.9103 6.36318 10.1482 7.12813C9.38611 7.89309 8.45733 8.27556 7.36184 8.27556H3.2913V10.0801H6.7913V11.1634H3.2913V13.5833H2.20801ZM3.2913 7.19225H7.36184C8.15229 7.19225 8.82426 6.91395 9.37776 6.35734C9.93126 5.80072 10.208 5.12872 10.208 4.34131C10.208 3.55391 9.93017 2.88349 9.37449 2.33006C8.81881 1.77665 8.14792 1.49994 7.36184 1.49994H3.2913V7.19225Z"
                        fill="#5E5E5E" />
                    </svg>
                    <span>{{this.salary}}</span>
                  </div>
                  <div>
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.75674 15.5833C1.38163 15.5833 1.06456 15.4514 0.805534 15.1875C0.546506 14.9236 0.416992 14.609 0.416992 14.2436V3.75645C0.416992 3.39106 0.546506 3.07642 0.805534 2.81254C1.06456 2.54865 1.38163 2.4167 1.75674 2.4167H3.57726V0.320557H4.69262V2.4167H9.34003V0.320557H10.4233V2.4167H12.2439C12.619 2.4167 12.936 2.54865 13.1951 2.81254C13.4541 3.07642 13.5836 3.39106 13.5836 3.75645V14.2436C13.5836 14.609 13.4541 14.9236 13.1951 15.1875C12.936 15.4514 12.619 15.5833 12.2439 15.5833H1.75674ZM1.75674 14.5H12.2439C12.308 14.5 12.3667 14.4733 12.4202 14.4199C12.4736 14.3665 12.5003 14.3077 12.5003 14.2436V7.25645H1.5003V14.2436C1.5003 14.3077 1.52701 14.3665 1.58043 14.4199C1.63386 14.4733 1.69263 14.5 1.75674 14.5ZM1.5003 6.17314H12.5003V3.75645C12.5003 3.69234 12.4736 3.63357 12.4202 3.58014C12.3667 3.52672 12.308 3.50002 12.2439 3.50002H1.75674C1.69263 3.50002 1.63386 3.52672 1.58043 3.58014C1.52701 3.63357 1.5003 3.69234 1.5003 3.75645V6.17314ZM7.0047 10.0641C6.82549 10.0641 6.67099 10.0007 6.54118 9.87381C6.41137 9.74692 6.34647 9.59387 6.34647 9.41466C6.34647 9.23547 6.40991 9.08097 6.53678 8.95116C6.66367 8.82136 6.81671 8.75645 6.99591 8.75645C7.17512 8.75645 7.32962 8.81989 7.45943 8.94677C7.58924 9.07366 7.65414 9.2267 7.65414 9.40589C7.65414 9.5851 7.5907 9.73961 7.46383 9.86941C7.33694 9.99922 7.1839 10.0641 7.0047 10.0641ZM3.7547 10.0641C3.57549 10.0641 3.42099 10.0007 3.29118 9.87381C3.16137 9.74692 3.09647 9.59387 3.09647 9.41466C3.09647 9.23547 3.15991 9.08097 3.28678 8.95116C3.41367 8.82136 3.56671 8.75645 3.74591 8.75645C3.92512 8.75645 4.07962 8.81989 4.20943 8.94677C4.33924 9.07366 4.40414 9.2267 4.40414 9.40589C4.40414 9.5851 4.3407 9.73961 4.21383 9.86941C4.08694 9.99922 3.93389 10.0641 3.7547 10.0641ZM10.2547 10.0641C10.0755 10.0641 9.92099 10.0007 9.79118 9.87381C9.66137 9.74692 9.59647 9.59387 9.59647 9.41466C9.59647 9.23547 9.65991 9.08097 9.78678 8.95116C9.91367 8.82136 10.0667 8.75645 10.2459 8.75645C10.4251 8.75645 10.5796 8.81989 10.7094 8.94677C10.8392 9.07366 10.9041 9.2267 10.9041 9.40589C10.9041 9.5851 10.8407 9.73961 10.7138 9.86941C10.5869 9.99922 10.4339 10.0641 10.2547 10.0641ZM7.0047 13C6.82549 13 6.67099 12.9366 6.54118 12.8097C6.41137 12.6828 6.34647 12.5298 6.34647 12.3506C6.34647 12.1714 6.40991 12.0169 6.53678 11.8871C6.66367 11.7572 6.81671 11.6923 6.99591 11.6923C7.17512 11.6923 7.32962 11.7558 7.45943 11.8827C7.58924 12.0096 7.65414 12.1626 7.65414 12.3418C7.65414 12.521 7.5907 12.6755 7.46383 12.8053C7.33694 12.9351 7.1839 13 7.0047 13ZM3.7547 13C3.57549 13 3.42099 12.9366 3.29118 12.8097C3.16137 12.6828 3.09647 12.5298 3.09647 12.3506C3.09647 12.1714 3.15991 12.0169 3.28678 11.8871C3.41367 11.7572 3.56671 11.6923 3.74591 11.6923C3.92512 11.6923 4.07962 11.7558 4.20943 11.8827C4.33924 12.0096 4.40414 12.1626 4.40414 12.3418C4.40414 12.521 4.3407 12.6755 4.21383 12.8053C4.08694 12.9351 3.93389 13 3.7547 13ZM10.2547 13C10.0755 13 9.92099 12.9366 9.79118 12.8097C9.66137 12.6828 9.59647 12.5298 9.59647 12.3506C9.59647 12.1714 9.65991 12.0169 9.78678 11.8871C9.91367 11.7572 10.0667 11.6923 10.2459 11.6923C10.4251 11.6923 10.5796 11.7558 10.7094 11.8827C10.8392 12.0096 10.9041 12.1626 10.9041 12.3418C10.9041 12.521 10.8407 12.6755 10.7138 12.8053C10.5869 12.9351 10.4339 13 10.2547 13Z"
                        fill="#5E5E5E" />
                    </svg>
                    <span>2 дня назад</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="vac-desc-text">
              <h3 class="vac-name">
                <a href="#">{{this.name}}</a>
              </h3>
              <p class="vac-desc-text-prev">
                {{this.description}}
              </p>
            </div>
            <div class="vac-btns">
              <div class="vac-btn-respond">
                <button class="btn-filled">Откликнуться</button>
              </div>
              <div class="vac-btn-fav">
                <button class="btn">
                  <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 18L6.825 15.15C5.625 14.0667 4.59583 13.1 3.7375 12.25C2.87917 11.4 2.17083 10.6 1.6125 9.85C1.05417 9.1 0.645833 8.375 0.3875 7.675C0.129167 6.975 0 6.24167 0 5.475C0 3.90833 0.525 2.60417 1.575 1.5625C2.625 0.520833 3.93333 0 5.5 0C6.36667 0 7.19167 0.183333 7.975 0.55C8.75833 0.916667 9.43333 1.43333 10 2.1C10.5667 1.43333 11.2417 0.916667 12.025 0.55C12.8083 0.183333 13.6333 0 14.5 0C15.85 0 16.9833 0.379167 17.9 1.1375C18.8167 1.89583 19.4417 2.85 19.775 4H17.65C17.35 3.33333 16.9083 2.83333 16.325 2.5C15.7417 2.16667 15.1333 2 14.5 2C13.65 2 12.9167 2.22917 12.3 2.6875C11.6833 3.14583 11.1083 3.75 10.575 4.5H9.425C8.90833 3.75 8.32083 3.14583 7.6625 2.6875C7.00417 2.22917 6.28333 2 5.5 2C4.55 2 3.72917 2.32917 3.0375 2.9875C2.34583 3.64583 2 4.475 2 5.475C2 6.025 2.11667 6.58333 2.35 7.15C2.58333 7.71667 3 8.37083 3.6 9.1125C4.2 9.85417 5.01667 10.7208 6.05 11.7125C7.08333 12.7042 8.4 13.9 10 15.3C10.4333 14.9167 10.9417 14.475 11.525 13.975C12.1083 13.475 12.575 13.0583 12.925 12.725L14.35 14.15C13.9833 14.4833 13.5167 14.8958 12.95 15.3875C12.3833 15.8792 11.8833 16.3167 11.45 16.7L10 18ZM17 14V11H14V9H17V6H19V9H22V11H19V14H17Z"
                      fill="#0496FF" />
                  </svg>
                </button>
              </div>
            </div>
          </li>
          {{/each}}



        </ul>
      </div>
    </div>

  </div>
</section>
